%header
  .container-fluid
    .row.mb-3.mt-2.d-flex.align-items-center
      / シンボルマークとサービス名を表示
      .col-auto
        = link_to root_path, data: {"turbolinks" => false} do
          = image_tag('/img/symbol.png', alt:'シンボルマーク',
          class: 'ss_square')
          %span.ll_font
            %strong{style:"color:black;"} イラストライフ
          %span.s_font
            %strong{style:"color:black;"} ～作品の感想を書いてポイントGET～
      / ポイントとアイコン表示
      .col.text-right.m_font
        - if user_signed_in?
          ="#{current_user.cre.pfm.point}ポイント"
          = icon(current_user.cre, 'ss_square')
    .row
      / メニューボタンを表示
      .col.text-right
        - if user_signed_in?
          - if 0 < current_user.cre.pfm.pic
            %button.btn.btn-light.m_font.border= link_to '実績', reqs_path
          - if ENV['ADMIN'] == current_user.email
            - if 'cres' == controller_name
              %button.btn.btn-light.m_font.border= link_to 'アカウント編集',
              edit_cre_path(params[:id])
          - else
            %button.btn.btn-light.m_font.border= link_to '設定',
            edit_cre_path(current_user.id)
          %button.btn.btn-light.m_font.border= link_to 'ログアウト',
          destroy_user_session_path, method: "delete"
        - else
          - if not devise_controller?
            %button.btn.btn-light.m_font.border= link_to 'ログイン',
            new_user_session_path
          %button.btn.btn-light.m_font.border= link_to '新規登録',
          new_user_registration_path