
%h2.font-large='このサイトで出来る事'

.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_呼びかけ.png',
      class:'size_Xlarge-square')
  .col-6.block-baloon-left.position_midium-right.font-medium
    このサイトで出来る事を具体的に教えてください。
    
.row
  .col-1
  .col-6.block-baloon-right.font-medium
    このサイトでは、以下の事をクリエーターに依頼できます。<br>
    ・漫画家や個人ゲーム制作者に必要な、背景や小物等のイラスト製作やアシスト<br>
    ・サイト製作、イベント、グッズ等で必要なイラストを製作<br>
    ・本格的な絵が描けない方が、鉛筆で書いたキャラクターや
    写真を元に、オリジナルキャラクターをデザイン<br>
  .col-3
    = image_tag('/img/character/リオ前面_身振り手振りで説明.png', 
      class:'size_Xlarge-square')
.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_見上げる.png',
      class:'size_Xlarge-square')
  .col-6.block-baloon-left.position_midium-right.font-medium
    このサイトで、クリエーター達に好きな作品を、無料か
    安い値段でリクエストできるというのは本当ですか？
    
.row
  .col-1
  .col-6.block-baloon-right.font-medium
    本当です。サイトに登録していただいて、ポイントを貯めて貰う事により、
    無料で好きなクリエーター達に依頼できます。又、ポイントと現金を
    併用して、安い値段で依頼する事も可能です。
  .col-3
    = image_tag('/img/character/リオ前面_励まし.png', 
      class:'size_Xlarge-square')
      
.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_バイバイ.gif',
      class:'size_Xlarge-square')
  .col-6.block-baloon-left.position_midium-right.font-medium
    わかりました。ありがとうございました。
    
.row
  .col-1
  .col-6.block-baloon-right.font-medium
    どういたしまして。
  .col-3
    = image_tag('/img/character/リオ前面_バイバイ.gif',
      class:'size_Xlarge-square')