
%h2.l_font='プチ個展'

.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_疑問.png',
      class:'ll_square')
  .col-6.block-baloon-left.position_midium-right.m-font
    プチ個展？
    
.row
  .col-1
  .col-6.block-baloon-right.m-font
    ここでは、自分の伝えたい事を、
    なんでもプチ個展上で、イラストと少しの文字(0～12文字程度)を使って表現します。
    例えば、自分がWEBクリエーターになった理由伝えたい場合・・
    
  .col-3
    = image_tag('/img/character/リオ前面_どうぞ.png', 
      class:'ll_square')
      
.row.my-5.border
  .col-1.d-flex.align-items-center.text-center.m-font
    = "WEBクリエーターになった理由:"
    
  .col-2.d-flex.align-items-center
    = image_tag('/img/sign/鳥.png', 
      class:'l_square')
    .s_font.s_ind= '自由'
      
  .col-1.d-flex.align-items-center
    = image_tag('/img/sign/矢印.png', 
      class:'s_square align-items-center')
    
  .col-2.d-flex.align-items-center
    = image_tag('/img/sign/小判.png', 
      class:'l_square align-items-center')
    .s_font.s_ind= '金'
      
  .col-1.d-flex.align-items-center
    = image_tag('/img/sign/矢印.png', 
      class:'s_square align-items-center')
    
  .col-2.d-flex.align-items-center
    = image_tag('/img/sign/楽しめるか.png', 
      class:'l_square align-items-center')
    .s_font.s_ind= '楽しめるか'

