- content_for(:html_title) { t('.sign_up') }
%h1.ll_font.ws_bgc= t('.sign_up')

.container
  .row.my5
    .col-8
      = render 'devise/shared/twitter'
      
  .row-my5.font-medium
    .col-8
      ='or'
      
  .row-my5
    %br= '■新規アカウント作成'
    .col-md-8
      = form_for(resource, as: resource_name,
      url: registration_path(resource_name)) do |f|
        = bootstrap_devise_error_messages!
        .form-group
          %br
            = f.label :ニックネーム
            = f.text_field :nick, class: 'form-control'
            = f.label :email
            = f.email_field :email, autocomplete: 'email', class: 'form-control'
            = f.label :password
            = f.password_field :password, autocomplete: 'current-password',
              class: 'form-control'
            - if @minimum_password_length
              %small.form-text.text-muted= t('devise.shared.minimum_password_length',
                count: @minimum_password_length)
            = f.label :password_confirmation
            = f.password_field :password_confirmation,
              autocomplete: 'current-password', class: 'form-control'
          .field.text-left
            = f.check_box :agree ,{},checked_value = "true",
              unchecked_value = "false"
            = link_to '利用規約', terms_agreement_path
            = f.label 'と'
            = link_to 'プライバシーポリシー', policy_agreement_path
            = 'に同意する。又、登録する利用者本人のみがIDとパスワードを利用し、'
            = '事業主ではない事を認める。'
          .form-group
            %br= f.submit t('.sign_up'), class: 'btn btn-light'
          = render 'devise/shared/links'