<h1><%= t('.sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :ニックネーム %>
    <%= f.text_field :nickname, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
  </div>
  
  <div class="field text-left">
    <%= f.check_box :accepted ,{},checked_value = "true",unchecked_value = "false" %>
    <%= link_to '利用規約', explanations_show_path %>
    <%= f.label '、及び、' %><%= link_to 'プライバシーポリシー', explanations_policy_path %><%='に同意する。又、登録する利用者本人のみがIDとパスワードを利用し、' %></br>
    <%="事業主（個人事業主含む）でない事を認める。" %>
  </div>

  <div class="form-group">
    <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
