!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    To
    = @receiver.nickname
    さん
    <br><br>
    
    %br= @sender.nickname
    さんのクレジットカード決済に関する不備、又は、<br>
    何らかのシステム障害の為、リクエストがキャンセルされました。<br>
    以下のリンク先よりご確認ください。<br>
    リクエスト申請日時：
    = @request.created_at.strftime('%Y-%m-%d %H:%M:%S')
    = link_to '詳細リンク先', ENV['HOME_ADDRESS'] + "/requests/#{@request.id}"
    <br>