!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    To
    = @rx.nick
    さん
    <br><br>
    = @tx.nick
    さんから
    協力されました<br>
    作品納品時に再度ご連絡致します。<br>
    = link_to '詳細リンク先', ENV['HOME_ADDRESS'] + "/expors/#{@expor.id}/ovrs/#{@ovr.id}"
    <br>