!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    To
    = @rx.nick
    さん
    <br><br>
    
    %br= @tx.nick
    さんのクレジットカード決済設定の不備により、
    リクエストがキャンセルされました。<br>
    詳しくは、以下のリンク先よりご確認ください。<br>
    リクエスト申請日時：
    = @req.created_at.strftime('%Y-%m-%d %H:%M:%S')
    = link_to '詳細リンク先', ENV['HOME_ADDRESS'] + "/requests/#{@req.id}"
    <br>