- d_turbo = "data-turbolinks"
- ovr = Ovr.find_by(expor_id: expor.id)
- msg = Msg.find_by(id: expor.msg_id)
.row
  %table.table.fixed_col
    %tr
      / セルからはみ出した文字を隠す
      %td.hdn_over= "#{expor.kind}"
      - if ("キャラデザ,背景デザ,プロット").include?(expor.kind)
        %td.hdn_over
          - if not ovr
            = link_to msg.s_msg.slice(0,5) + '...', expor_path(expor.id)
          - else
            = link_to msg.s_msg.slice(0,5) + '...',
            expor_ovr_path(expor.id,ovr.id)
      - else
        %td.hdn_over
          - if not ovr
            = link_to image_tag(expor.e_img.url, class:'ss_rect fit_con'),
            expor_path(expor.id)
          - else
            = link_to image_tag(expor.e_img.url, class:'ss_rect fit_con'),
            expor_ovr_path(expor.id,ovr.id)
      %td.hdn_over= "#{expor.hope}"
      - if '自分で' == expor.who
        %td.hdn_over= User.find_by(id: expor.user_id).nick
      - else
        - if ovr
          %td.hdn_over
            - c_usr = User.find_by(id: ovr.up_id)
            = link_to c_usr.nick, cre_path(c_usr.id)
        - else
          %td.hdn_over= '募集中'
      %td.hdn_over= "#{expor.e_dl}"
      %td.hdn_over= "#{expor.fee.abs}"
      %td.hdn_over= "#{expor.w_st}"
      %td
        -if ovr
          - if '完了' != expor.w_st || '自分で' == expor.who
            - btn_name = '編集'
          - else
            - btn_name = '取得'
          = button_to(btn_name, edit_expor_ovr_path(ovr.expor.id, ovr.id),
            method: :get, d_turbo: false, class:"btn btn-light m_font border")
        - if expor.e_dl > Date.today && '誰かに' == expor.who && ovr
          = button_to('削除', expor_path(expor.id), method: :delete,
            disabled: true, class:"btn btn-light m_font border")
        - else
          = button_to('削除', expor_path(expor.id), method: :delete,
            disabled: false, class:"btn btn-light m_font border")