/ 表体を表示
.row
  / セル幅を「table全幅/セル数」に
  - colab = User.find_by(id: ovr.expor.user_id)
  - if colab.id != current_user.id
    %table.table.fixed_col
      %tr
        %td.hdn_over= link_to colab.nick, cre_path(colab.id)
        - if ovr.expor.e_img?
          %td.hdn_over= link_to image_tag(ovr.expor.e_img.url,
          class:'ss_rect fit_con'), expor_ovr_path(ovr.expor.id,ovr.id)
        - else
          - msg = Msg.find_by(id: ovr.expor.msg_id).s_msg.slice(0,7) + '...'
          %td.hdn_over= link_to msg, expor_ovr_path(ovr.expor.id,ovr.id)
        %td.hdn_over= ovr.expor.w_st
        %td
          - if '完了' != ovr.expor.w_st && '手戻し' != ovr.expor.w_st
            = button_to('中断', expor_ovr_path(ovr.expor.id, ovr.id),
            method: :delete, class:"btn btn-light m_font border")
          - else 
            - if ovr.expor_id == current_user.id 
              - btn = 'ダウンロード'
            - else
              - btn = '手戻し'
            = button_to(btn, edit_expor_ovr_path(ovr.expor.id, ovr.id),
              method: :get, params: {btn: btn},
              class:"btn btn-light m_font border")
            
