- content_for(:html_title) { '編集' }
%h1.ll_font.ws_bgc 編集
.container
  .row
    - if @expor
      = form_with(model: @expor, local:true) do |f|
        %table.table
          %tr
            %td
              = f.label :kind,  "工程:"
              = f.select :kind,
              [["キャラデザ・背景(文字)"], ["構図"]], include_blank: @expor.kind
          %tr
            %td
              = f.label :hope,  "希望:"
              = f.select :hope,
              [["線画"], ["構図"]], include_blank: @expor.hope
          %tr
            %td
              = f.label :fee,  "謝礼:"
              = f.text_field :fee, :size => '10'
              = 'pt'
          - if @expor.e_img?
            %tr
              %td
                = image_tag(@expor.e_img.url, class:'fit_c')
            %tr
              %td
                = f.label '変更する画像:', class:'p_img'
                = f.file_field :e_img, class:'p_img preview-uploader'
                .p_img.ws_bgc.m_rect
          - else
            %tr
              %td
                = f.label :gist,  "テキスト内容:"
                = f.text_area :gist, :size => '40X80'
              
        = f.submit '更新', class:"btn btn-light"
