- content_for(:html_title) { '編集' }
%h1.ll_font.ws_bgc 編集
.container
  .row
    - if @expor
      = form_with(model: @expor, local:true) do |f|
        %table.table
          %tr
            %td
              = f.label :kind, "工程:"
              = f.select :kind,
              [["キャラ・背景デザ(文字)"],["構図"],["ラフ"],["線画"],
              ["塗り(色分け)"],["塗り(着色)"],["納品"],["プロット"],["ネーム"],
              ["下書き"],["ペン入れ"],["ベタ塗り、トーン貼り"],["仕上げ(完成)"]],
              include_blank: @expor.kind
          %tr
            %td
              = f.label :who, "誰が:"
              = f.select :who,
              [["自分で"],["誰かに"]], include_blank: @expor.who
          %tr
            %td
              = f.label :hope, "希望:"
              = f.select :hope,
              [["線画"],["ラフ"],["線画"],["塗り(色分け)"],["塗り(着色)"],
              ["納品"],["ネーム"],["下書き"],["ペン入れ"],["線画"],
              ["ベタ塗り、トーン貼り"],["仕上げ(完成)"],["添削"],["コラボ"]],
              include_blank: @expor.hope
          %tr
            %td
              = f.label :fee,  "謝礼:"
              = f.text_field :fee, :size => '10', class:"edit_fee"
              = 'pt'
          = @expor.kind
          %tr
            %td
              = f.label :gist,  "変更テキスト:", class:"edit_text"
              %br
              = f.text_area :gist, class:"l_f_rect edit_text"
          %tr
            %td
              = f.label '現在:'
              %br
                - if 'キャラ・背景デザ(文字)' == @expor.kind || 'プロット' == @expor.kind
                  .l_f_rect.border= Msg.find_by(id: @expor.msg_id).s_msg
                - else
                  = image_tag(@expor.e_img.url, class:'l_f_rect fit_con ws_bgc')
                  %tr
                    %td
                      = f.label :cmt, '一言(13文字以内)：', class:"edit_cmt"
                      %br
                      = f.text_area :cmt, :value => Msg.find_by(id: @expor.msg_id).s_msg, class:"edit_cmt"
          %tr
            %td
              = f.label '変更画像:', class:'edit_img'
              = f.file_field :e_img, class:'edit_img preview-uploader'
              .edit_img.ws_bgc.fit_con.l_f_rect
        = f.submit '更新', class:"btn btn-light"
