- content_for(:html_title) { '編集' }
%h1.ll_font.ws_bgc 編集
.container
  .row
    - if @expor
      = form_with(model: @expor, local:true) do |f|
        %table.table
          %tr
            %td
              = f.label :kind, "工程:"
              - if @illust
                = f.select :kind,
                [["キャラデザ"],["背景デザ"],["構図"],["ラフ"],["線画"],
                ["塗り(色分け)"],["塗り(着色)"],["納品"]],
                include_blank: @expor.kind
              - else
                = f.select :kind,
                [["プロット"],["ネーム"], ["下書き"],["ペン入れ"],
                ["ベタ、トーン"],["仕上げ(完成)"]],
                include_blank: @expor.kind
          %tr
            %td
              = f.label :who, "誰が:"
              = f.select :who,[["自分で"],["誰かに"]], include_blank: @expor.who
          %tr
            %td
              = f.label :hope, "希望:"
              - if @illust
                = f.select :hope,
                [["キャラデザ"],["背景デザ"],["構図"],["ラフ"],["線画"],
                ["塗り(色分け)"],["塗り(着色)"],["納品"]],
                include_blank: @expor.hope
              - else
                = f.select :hope,
                [["プロット"],["ネーム"], ["下書き"],["ペン入れ"],
                ["ベタ、トーン"],["仕上げ(完成)"]],
                include_blank: @expor.hope
          %tr.edit_fee
            %td
              = f.label :fee,  "謝礼:", class:"edit_fee"
              = f.text_field :fee, :size => '10', class:"edit_fee"
              = f.label :fee, 'pt', class:"edit_fee"
          %tr
            %td
              = f.label '現在:'
              %br
                - if ("キャラデザ,背景デザ,プロット").include?(@expor.kind)
                  .lll_square.border= Msg.find_by(id: @expor.msg_id).s_msg
                - else
                  = image_tag(@expor.e_img.url,
                  class:'lll_square fit_con ws_bgc')
                  %tr
                    %td
                      = f.label :cmt, '一言(17文字以内)：'
                      %br= f.text_field :cmt, value:@expor.cmt, size:"50"
          %tr.edit_text
            %td
              = f.label :gist,  "変更テキスト:", class:"edit_text"
              %br= f.text_area :gist, class:"lll_square edit_text"
          
          %tr.edit_img
            %td
              = f.label '変更画像:', class:'edit_img'
              = f.file_field :e_img, class:'edit_img preview'
              .edit_img.ws_bgc.fit_con.lll_square
        = f.submit '更新', class:"btn btn-light"
