- up_cre = User.find_by(id:current_user.id)
- title="#{up_cre.nick}の作品"
- content_for(:html_title) { title }
%h1.ll_font.ws_bgc= title
.container
  .row.my-5
    .col.text-center
      - if 5 > @expors.count
        %button.btn.btn-light.m_font.border{"data-turbolinks" => "false"}= link_to_if true,
        '新規',"/expors/#{current_user.id}/new"
      - else
        %button.btn.btn-light.m_font.border{"data-turbolinks" => "false"}= link_to_if false,
        '新規',"/expors/#{current_user.id}/new"
      %br= @expors.count.to_s + '/5'
  - if not @expors.blank?
    .row.my-5
      %h2.l_font= '晒した'
    .row  
      %table.table.fixed_col
        %tr
          %th="現在の工程"
          %th="内容"
          %th="希望"
          %th="作業者"
          %th="期限"
          %th="謝礼(pt)"
          %th="状態"
          %th="操作"
    - @expors.reverse_each.with_index(1) do |expor|
      = render 'expor', {expor: expor}
    
  - if not @ovrs.blank?
    .row.my-5
      %h2.l_font= '協力'
    .row  
      %table.table.fixed_col
        %tr
          %th="相手"
          %th="共同作"
          %th="進行"
          %th="操作"
    / 表体
    - @ovrs.reverse_each.with_index(1) do |ovr|
      = render 'ovr', {ovr: ovr}
