- content_for(:html_title) { '晒す作品' }
%h1.ll_font.ws_bgc 晒す作品
.container
  .row.my-5
    .col-md-8.border.border-secondary
      = form_with(model: @expor, local:true) do |f|
        = '今:'
        %br
        = '<イラスト>'
        = f.radio_button :kind, :'キャラデザ'
        = f.label :kind, 'キャラデザ'
        = f.radio_button :kind, :'背景デザ'
        = f.label :kind, '背景デザ'
        = f.radio_button :kind, :'構図', checked: true
        = f.label :kind, '構図'
        = f.radio_button :kind, :'ラフ'
        = f.label :kind, 'ラフ'
        = f.radio_button :kind, :'線画'
        = f.label :kind, '線画'
        = f.radio_button :kind, :'塗り(色分け)'
        = f.label :kind, '塗り(色分け)'
        = f.radio_button :kind, :'塗り(着色)'
        = f.label :kind, '塗り(着色)'
        = f.radio_button :kind, :'納品'
        = f.label :kind, '納品'
        %br
        = '<漫画>'
        = f.radio_button :kind, :'プロット'
        = f.label :kind, 'プロット'
        = f.radio_button :kind, :'ネーム'
        = f.label :kind, 'ネーム'
        = f.radio_button :kind, :'下書き'
        = f.label :kind, '下書き'
        = f.radio_button :kind, :'ペン入れ'
        = f.label :kind, 'ペン入れ'
        = f.radio_button :kind, :'ベタ、トーン'
        = f.label :kind, 'ベタ、トーン'
        = f.radio_button :kind, :'仕上げ(完成)'
        = f.label :kind, '仕上げ(完成)'
        %br
        %br
        = f.label '<テキスト>(1000文字以内)', class:'g_text'
        = f.text_area :gist, class:'g_text m_rect'
        %br
        = f.label '画像(png, jpeg, jpg):', class:'lll_img'
        %br
        = f.file_field :e_img, class:'lll_img preview'
        .lll_img.ws_bgc.lll_square
        %br
        = '次:'
        %br
        = f.radio_button :hope, :'構図', class:'comp'
        = f.label '構図', class:'comp'
        = f.radio_button :hope, :'ラフ', class:'rough'
        = f.label 'ラフ', class:'rough'
        = f.radio_button :hope, :'線画', class:'line'
        = f.label '線画', class:'line'
        = f.radio_button :hope, :'塗り(色分け)', class:'coding'
        = f.label '塗り(色分け)', class:'coding'
        = f.radio_button :hope, :'塗り(着色)', class:'coloring'
        = f.label '塗り(着色)', class:'coloring'
        = f.radio_button :hope, :'納品', class:'del'
        = f.label '納品', class:'del'
        = f.radio_button :hope, :'ネーム', class:'d_name'
        = f.label 'ネーム', class:'d_name'
        = f.radio_button :hope, :'下書き', class:'draft'
        = f.label '下書き', class:'draft'
        = f.radio_button :hope, :'ペン入れ', class:'p_draw'
        = f.label 'ペン入れ', class:'p_draw'
        = f.radio_button :hope, :'ベタ、トーン', class:'s_paint'
        = f.label 'ベタ、トーン', class:'s_paint'
        = f.radio_button :hope, :'仕上げ(完成)', class:'finish'
        = f.label '仕上げ(完成)', class:'finish'
        = f.radio_button :hope, :'添削', class:'corr', checked: true
        = f.label '添削', class:'corr'
        = f.radio_button :hope, :'コラボ', class:'collab'
        = f.label 'コラボ', class:'collab'
        %br
        ='誰が:'
        %br
        = f.radio_button :who, :'自分で', checked: true
        = f.label '自分で(+5pt)'
        = f.radio_button :who, :'誰かに'
        = f.label '誰かに(-謝礼pt)'
        = f.radio_button :who, :'指名', disabled: true
        = f.label '指名(-2000pt以上)'
        %br
        = f.label '謝礼:', class:'reward'
        %br
        = f.number_field :fee, value:0, min:0, step:1, class:'text-right reward'
        = f.label 'pt', class:'reward'
        %br
        %br
          = f.label '一言(17文字以内):', class:'c_text'
          %br
          = f.text_field :cmt, class:'c_text', size:'40'
        %br
        = '期限(1か月以内):'
        %br
        = f.date_field :e_dl
        = f.hidden_field :user_id, value:params[:id]
        = f.submit '晒す', class:"btn btn-light l_font my-5 ss_rect"
        
        = "以下の文に同意できる方のみ実行してください"
        %br
          = '・著作権は、晒した側にあります。'
          %br
            = '・「自分で作業する」以外を選択した場合、他者が上書きする事と、'
            = '私的利用(SNSに上げる等)は許可するものとします'
