- content_for(:html_title) { 'リクエストの詳細' }
%h1.ll_font.ws_bgc リクエストの詳細
.container
  .row.my-5
    .col-md-auto
      // リクエストの伝票
      = render 'works/parts/voucher'
    - if user_signed_in?
      .col-sm-auto
        .m_line
          // 進行状態に応じて表示を変更
          - case @req.stts
          - when '承認待ち'
            - if @rx.id == current_user.id
              = render 'works/parts/approval'
          - when '製作中','手戻し'
            - if @rx.id == current_user.id
              = render 'works/parts/mfr'
              = render 'works/parts/disp'
          - when '納品'
            = render 'works/parts/disp'
            = render 'works/parts/cpl'
      .col-sm-auto
        - if @rx.id == current_user.id
          - case @req.stts
          - when '製作中','手戻し'
            = butn('納品', @req)
            = butn('製作中断', @req)
          - when '納品'
            = butn('手戻し', @req)
        - elsif @tx.id == current_user.id && @req == '納品'
          = button_to('ダウンロード',download_works_path,
          {method: :get, params:{req_id: params[:id]}})
