- content_for(:html_title) { t('.change_your_password') }
%h1.font-Xlarge.background_color-whitesmoke= t('.change_your_password')

.container
  .col-md-8
    = form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :put }) do |f|
      = bootstrap_devise_error_messages!
      
      = f.hidden_field :reset_password_token
      
      .form-group.mt-5
        = f.label :password, t('.new_password'), class: 'font-large '
        = f.password_field :password, autofocus: true,
          class: 'form-control'
        - if @minimum_password_length
          %small.form-text.text-muted= t('devise.shared.minimum_password_length',
            count: @minimum_password_length)
            
      .form-group
        = f.label :password_confirmation, t('.confirm_new_password'),
          class: 'font-large'
        = f.password_field :password_confirmation, autocomplete: 'off',
          class: 'form-control'
        
      .form-group
        = f.submit t('.change_my_password'), class: 'btn btn-light font-large'
  // = render 'devise/shared/links'
