- content_for(:html_title) { t('.forgot_your_password') }
%h1.ll_font.ws_bgc= t('パスワード再送')

.container
  .col-md-8
    = form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :post }) do |f|
      = bootstrap_devise_error_messages!
      
      .form-group.mt-5
        = f.label :'送信先メールアドレス',
          class: 'l_font background l_font'
          
        = f.email_field :email, autofocus: true, autocomplete: 'email',
          class: 'form-control'
        
      .form-group
        = f.submit t('.send_me_reset_password_instructions'),
          class: 'btn btn-light font-medium'
        
  // = render 'devise/shared/links'
