- content_for(:html_title) { 'イラスト晒し' }
%h1.ll_font.ws_bgc イラスト晒し

.container
.row.my-2
  .col-md-8.border.border-secondary.position-center
    = form_with(model: @exposure, local:true) do |f|
      = f.label :expo_img , '晒すイラスト：'
      = f.file_field :expo_img, class:"preview-uploader"
      
      .preview.ws_bgc.size_medium-rectangle
      = f.hidden_field :cntri_id, value:params[:id]
      = f.submit '晒す'
