- if nil != @request
  .row.my-5
    .col-md-auto
      - sender = User.find(@request.sender_id)
      - receiver = User.find(@request.receiver_id)
      
      - if (user_signed_in?) && ((sender.id == current_user.id) || (receiver.id == current_user.id))
        = "■申請日時：#{@request.created_at.strftime("%Y/%m/%d %H:%M")}"
      %table.table
        - if 'development' == ENV['RAILS_ENV']
          %tr
            %td= "リクエストID：#{@request.id}"
        %tr
          %td= display_icon(sender.creator, 'size_small-square rounded-circle fit_cover') + '依頼者：' + sender.nickname
        %tr
          %td= display_icon(receiver.creator, 'size_small-square rounded-circle fit_cover') + '承認者：' + receiver.nickname
          
        - if (user_signed_in?) && ((sender.id == current_user.id) || (receiver.id == current_user.id))
          %tr
            %td= "状態：#{@request.status}"
          %tr
            %td= "金額：#{@request.money}円"
        %tr
          %td.string_indention= "リクエスト内容：#{@request.message}"
        %tr
          - if true == @request.is_nsfw
            - nsfw='有'
          - else
            - nsfw='無'
          - if true == @request.is_anonymous
            - anonymous='有'
          - else
            - anonymous='無'
          - if true == @request.is_autographed
            - autographed='有'
          - else
            - autographed='無'
          %td.string_indention= "ファイル形式：#{@request.file_format},　NSFW:#{nsfw},　匿名:#{anonymous},　宛名入りサイン:#{autographed}"
          - if (user_signed_in?) && ((sender.id == current_user.id) || (receiver.id == current_user.id))
            %tr
              - deadline = @request.created_at + (receiver.creator.working_days * 60 * 60 * 24)
              %td.string_indention= "締め切り日：#{deadline.strftime('%Y/%m/%d %H:%M')}"
        %tr
          %td.string_indention
            - if not current_user.nil?
              - if (receiver.nickname == current_user.nickname) && ('承認待ち' == @request.status)
                = "#{sender.nickname}さんから#{receiver.nickname}さんへのリクエストを承認しますか？"
                = button_to '承認', {controller:'requests', action:'index'}, {method: :get, params:{status:'製作中', request_id:@request.id}}
                = button_to '拒否', {controller:'requests', action:'index'}, {method: :get, params:{status:'拒否', request_id:@request.id}}
              - elsif (receiver.nickname == current_user.nickname) && ('製作中' == @request.status || '手戻し' == @request.status)
                = form_with(model: @request, local: true) do |f|
                  = f.file_field :deliver_img
                  = f.hidden_field :request_id, :value => @request.id
                  = f.submit '登録'
                = button_to '納品', {controller:'requests', action:'index'}, {method: :get, params:{status:'納品完了', request_id:@request.id, amount:@request.money}}
                = button_to '製作中断', {controller:'requests', action:'index'}, {method: :get, params:{status:'製作中断', request_id:@request.id}}
    .col-md-auto
      - if @request.deliver_img?
        - if @request.deliver_img.to_s.include?('.psd')
          - pdf = Magick::ImageList.new(@request.deliver_img.to_s)
          - pdf[0].write("public/img/conversion_psd/#{current_user.id}_#{@request.id}.png")
          = link_to image_tag("/img/conversion_psd/#{current_user.id}_#{@request.id}.png", class:'size_large-rectangle fit_cover'),"img/conversion_psd/#{current_user.id}_#{@request.id}.png"
        - else
          = link_to image_tag(@request.deliver_img.url, class:'size_large-rectangle fit_cover'), @request.deliver_img.url
    .col-md-auto
      - if ('納品完了' == @request.status) && (user_signed_in?)
        - if sender.nickname == current_user.nickname
          %button.btn.btn-light= link_to 'ダウンロード', download_request_path(@request)
        - elsif receiver.nickname == current_user.nickname
          = button_to '手戻し', {controller:'requests', action:'index'}, {method: :get, params:{status:'手戻し', request_id:@request.id}}
