- if nil != @request
  .row.my-5
    .col-md-auto
      = "■申請日時：#{@request.created_at.strftime("%Y/%m/%d %H:%M")}"
      - sender = User.find_by(nickname: @request.sender)
      - receiver = User.find_by(nickname: @request.receiver)
      %table.table
        %tr
          %td= "リクエストID：#{@request.id}"
        %tr
          - if nil != sender
            %td= display_icon(sender.creator, 'size-small-square rounded-circle fit-cover') + '依頼者：' + @request.sender
          - else
            - if @request.sender_icon_url.empty?
              %td=image_tag('/img/mobu.png', class: 'size-small-square rounded-circle fit-cover') + '依頼者：' + @request.sender
            - else
              %td=image_tag(@request.sender_icon_url, class: 'size-small-square rounded-circle fit-cover') + '依頼者：' + @request.sender
        %tr
          - if nil != receiver
            %td= display_icon(receiver.creator, 'size-small-square rounded-circle fit-cover') + '承認者：' + @request.receiver
          - else
            - if @request.receiver_icon_url.empty?
              %td=image_tag('/img/mobu.png', class: 'size-small-square rounded-circle fit-cover') + '承認者：' + @request.receiver
            - else
              %td=image_tag(@request.receiver_icon_url, class: 'size-small-square rounded-circle fit-cover') + '承認者：' + @request.receiver
        %tr
          %td= "状態：#{@request.status}"
        %tr
          %td= "金額：#{@request.money}円"
        %tr
          %td.string-indention= "リクエスト内容：#{@request.message}"
        %tr
          %td.string-indention= "ファイル形式：#{@request.file_format}"
        %tr
          %td.string-indention
            - if nil != current_user
              - if (@request.receiver == current_user.nickname) && ('承認待ち' == @request.status)
                = "#{@request.sender}さんから#{@request.receiver}さんへのリクエストを承認しますか？"
                = button_to '承認', {controller:'requests', action:'index'}, {method: :get, params:{status:'製作中', request_id:@request.id}}
                = button_to '拒否', {controller:'requests', action:'index'}, {method: :get, params:{status:'拒否', request_id:@request.id}}
              - elsif (@request.receiver == current_user.nickname) && ('製作中' == @request.status || '手戻し' == @request.status)
                = form_with(model: @request, local: true) do |f|
                  = f.file_field :deliver_img
                  = f.hidden_field :request_id, :value => @request.id
                  = f.submit '登録'
                = button_to '納品', {controller:'requests', action:'index'}, {method: :get, params:{status:'納品完了', request_id:@request.id, amount:@request.money}}
                = button_to '製作中断', {controller:'requests', action:'index'}, {method: :get, params:{status:'製作中断', request_id:@request.id}}
    .col-md-auto
      - if @request.deliver_img?
        - if @request.deliver_img.to_s.include?('.psd')
          - pdf = Magick::ImageList.new(@request.deliver_img.to_s)
          - pdf[0].write("public/img/conversion_psd/#{current_user.id}_#{@request.id}.png")
          = link_to image_tag("/img/conversion_psd/#{current_user.id}_#{@request.id}.png", class:'size-large-Horizontal_variable_rectangle fit-cover'),"img/conversion_psd/#{current_user.id}_#{@request.id}.png"
        - else
          = link_to image_tag(@request.deliver_img.url, class:'size-large-Horizontal_variable_rectangle fit-cover'), @request.deliver_img.url
    .col-md-auto
      - if ('納品完了' == @request.status) && (user_signed_in?)
        - if @request.sender == current_user.nickname
          %button.btn.btn-light= link_to 'ダウンロード', download_request_path(@request)
        - elsif @request.receiver == current_user.nickname
          = button_to '手戻し', {controller:'requests', action:'index'}, {method: :get, params:{status:'手戻し', request_id:@request.id}}
