.row
  = disp_hdr(@cre, 'm_rect fit_c')
.row
  .col-2
    = icon(@cre, 'l_square rounded-circle fit_c l_ta-pos')
  .col-4
    / リクエスト入力画面時はメール画像非表示
    - if 'reqs' != controller.controller_name && 'new' != controller.action_name
      / リクエスト受付状態時はSTOP画像非表示
      - if true == @cre.sttg.start
        = link_to image_tag('/img/req.png', class:'m_square m_ta-pos'),
        "/reqs/#{@cre.user_id}/new"
      - else
        = image_tag '/img/req_stop.png', class:'m_square m_ta-pos'
        / ログイン中のユーザーに再開通知ボタンを表示
        - if user_signed_in?
          - if Resm.where(noti_id:current_user.id, re_id:params[:id]).nil?
            .ss_font.ss_ta-pos
              =link_to "再開通知","/resms/#{@cre.user_id}/new",
              class:'ws_bgc s_pad'
            
  / SNSリンク先のアイコンを表示
  .col-1
    = disp_sns(@cre, 'twtr')
  .col-1
    = disp_sns(@cre, 'pixiv')
  .col-1
    = disp_sns(@cre, 'insta')
  .col-1
    = disp_sns(@cre, 'yt')
  .col-1
    = disp_sns(@cre, 'link')

/ 実績表示
.row.my-5.mx-5.m_font
  = "推奨金額：#{@cre.sttg.recom}円"
  = "、作業予定日数：#{@cre.sttg.work_d}日"
  // - if 0 != @cre.pfm.pic
  //   = "、締切厳守率：#{@cre.pfm.dl}%"
  //   = "、返信率:#{@cre.pfm.reply}%"
