.row
  = display_header(@authorizer.creator, 'size_medium-rectangle fit_cover')
.row
  .col-2
    = display_icon(@authorizer.creator, 'size_large-square rounded-circle fit_cover position_large-top')
  .col-4
    - if (('new' == controller.action_name) || ('show' == controller.action_name)) && (true == @authorizer.creator.request_acceptance_permission)
      - if (user_signed_in?) && (@authorizer.id == current_user.id)
        = image_tag '/img/request.png', class:'size_medium-square position_medium-top'
      - else
        = link_to image_tag('/img/request.png', class:'size_medium-square position_medium-top'), "/requests/#{@authorizer.creator.user_id}/new"
    - else
      = image_tag '/img/request_stop.png', class:'size_medium-square position_medium-top'
      - if user_signed_in? && (@authorizer.id != current_user.id) && (@notification_users.find_by(resume_user: params[:id]).nil?)
        .font-Xsmall.position_Xshort-top.position-left
          = link_to "再開を通知", "/resumes/#{@authorizer.creator.user_id}/new", class:'button-notice'
  - if @authorizer.creator.twitter.present?
    .col-1= link_to image_tag('/img/twitter.png', class:'size_small-square position_short-top'), @authorizer.creator.twitter
  - if @authorizer.creator.pixiv.present?
    .col-1= link_to image_tag('/img/pixiv.png', class:'size_small-square position_short-top'), @authorizer.creator.pixiv
  - if @authorizer.creator.instagram.present?
    .col-1= link_to image_tag('/img/instagram.png', class:'size_small-square position_short-top'), @authorizer.creator.instagram
  - if @authorizer.creator.youtube.present?
    .col-1= link_to image_tag('/img/youtube.png', class:'size_small-square position_short-top'), @authorizer.creator.youtube
  - if @authorizer.creator.link.present?
    .col-1= link_to image_tag('/img/link.png', class:'size_small-square position_short-top'), @authorizer.creator.link
.container
  .row.my-5
    = "ニックネーム：#{@authorizer.nickname}"
    = "、推奨金額：#{@authorizer.creator.recommended_amount}円"
    = "、作業予定日数：#{@authorizer.creator.working_days}日"
    ='、NSFW不可'
    - if 0 != @authorizer.creator.number_of_works
      = "、納品数：#{@authorizer.creator.number_of_works}点、"
      = "平均納品日数：#{@authorizer.creator.average_delivery_time}日、締切厳守率：#{@authorizer.creator.deadline_strict_adherence_rate}%、"
      = "返信率:#{@authorizer.creator.reply_rate}%"
    - else
      %br
      %br
        = '納品作品なし'
  
  