ENV['ACCESS_LABORATORY']
<div class="row">
  <% if @creator.header? %>
    <%= image_tag(@creator.header.url, class: 'header') %>
  <% else %>
    <%= image_tag('/img/nothing.png', class: 'header') %>
  <% end %>
</div>

<div class="row">
  <div class="col-2">
    <% begin %>
      <%= link_to image_tag(@creator.icon.url, class: 'icon upicon'), "/creators/#{@creator.user_id}" %>
    <% rescue => e %>
      <%= link_to image_tag('/img/mobu.png', class: 'icon upicon'), "/creators/#{@creator.user_id}" %>
    <% end %>
  </div>
  
  <div class="col-7">
    <%= link_to image_tag('/img/request.png', class: 'symbol upsymbol'), "/requests/new/#{@creator.user_id}" %>
  </div>
  
  <div class="col-1">
    <%= link_to image_tag('/img/twitter.png', class: 'symbol upsymbol') ,@creator.twitter %>
  </div>
  
  <div class="col-1">
    <%= link_to image_tag('/img/pixiv.png', class: 'symbol upsymbol'), @creator.pixiv %>
  </div>
</div>

<div class="row my-5">
    <%= "ニックネーム：#{@user.nickname}、平均納品日数：-日、納品数：-点、締切厳守率：-%" %>
</div>

