.row
  = display_header(@user.creator, 'size-middle-Horizontal_variable_rectangle fit-cover')
.row
  .col-2
    = display_icon(@user.creator, 'size-large-square rounded-circle border-solid4 fit-cover color-steelblue position-top-long')
  .col-7
    - if 'creators' == controller.controller_name && 'show' == controller.action_name
      = link_to image_tag('/img/request.png', class:'size-middle-square position-top-middle'), "/requests/new/#{@user.creator.user_id}"
  .col-1
    = link_to image_tag('/img/twitter.png', class:'size-small-square position-top-short'), @user.creator.twitter
  .col-1
    = link_to image_tag('/img/pixiv.png', class:'size-small-square position-top-short'), @user.creator.pixiv
  .col-1
    = link_to image_tag('/img/instagram.png', class:'size-small-square position-top-short'), @user.creator.instagram  
  
.row.my-5
  = "ニックネーム：#{@user.nickname}"
  - if nil != @user.creator.number_deliveries then
    = "、平均納品日数：#{@user.creator.Average_delivery}日、納品数：#{@user.creator.number_deliveries}点、締切厳守率：#{@user.creator.deadline_rate}%"
