.row
  = display_header(@user.creator, 'size-middle-Horizontal_variable_rectangle fit-cover')
.row
  .col-2
    = display_icon(@user.creator, 'size-large-square rounded-circle fit-cover position-top-long')
  .col-7
    - if ('creators' == controller.controller_name) && ('show' == controller.action_name) && (true == @user.creator.request_acceptance_permission)
      = link_to image_tag('/img/request.png', class:'size-middle-square position-top-middle'), "/requests/new/#{@user.creator.user_id}"
    - elsif ('creators' == controller.controller_name) && ('show' == controller.action_name) 
      = image_tag '/img/request_stop.png', class:'size-middle-square position-top-middle'
  .col-1
    = display_sns(@user.creator.twitter, '/img/twitter.png', 'size-small-square position-top-short')
  .col-1
    = display_sns(@user.creator.pixiv, '/img/pixiv.png', 'size-small-square position-top-short')
  .col-1
    = display_sns(@user.creator.instagram, '/img/instagram.png', 'size-small-square position-top-short')
  
.row.my-5
  = "ニックネーム：#{@user.nickname}"
  %br
    - if 0 != @user.creator.number_of_works then
      = "納品数：#{@user.creator.number_of_works}点、作業予定日数：#{@user.creator.number_of_works}日、平均納品日数：#{}日、締切厳守率：#{@user.creator.deadline_strict_adherence_rate}%"
    - else
      = '納品作品なし'