.row
  / ヘッダー表示
  = disp_hdr(@cre, 'm_rect fit_c')

.row
  .col-2
    / ユーザーアイコン表示
    = icon(@cre,
      'l_square rounded-circle fit_c position_large-top')
  
  .col-4
    / reqコントローラーの領域以外の場合、リクエストアイコンを表示
    - if 'reqs' != controller.controller_name
    
      / リクエストを受付ていない場合は、STOP画像を表示
      - if true == @cre.sttg.start
      
        / リクエスト先が自分自身の場合、リンクを付与しない
        - if (user_signed_in?) && (params[:id].to_i == current_user.id.to_i)
          = image_tag '/img/req.png',
            class:'m_square position_medium-top'
        
        - else
          = link_to image_tag('/img/req.png',
            class:'m_square position_medium-top'),
            "/reqs/#{@cre.user_id}/new"
            
      - else
        = image_tag '/img/req_stop.png',
          class:'m_square position_medium-top'
      
        / ログイン中のユーザーに再開通知ボタンを表示
        - if user_signed_in?
        
          / 再開者のリストアップ
          - resms = Resm.where(noti_id:current_user.id)
          
          / 再開通知リストに登録していない場合
          - if resms.find_by(re_id: params[:id]).nil?
          
            .ss_font.position_Xshort-top.position_midium-left
              = link_to "再開を通知", "/resms/#{@cre.user_id}/new",
                class:'button-notice'
  
  / SNSリンク先のアイコンを表示
  .col-1
    = disp_sns(@cre, 'twtr')
  .col-1
    = disp_sns(@cre, 'pixiv')
  .col-1
    = disp_sns(@cre, 'insta')
  .col-1
    = disp_sns(@cre, 'yt')
  .col-1
    = disp_sns(@cre, 'link')

/ 実績表示
.row.my-5.mx-5
  = "ニックネーム：#{@cre.user.nick}"
  = "、推奨金額：#{@cre.sttg.recom}円"
  = "、作業予定日数：#{@cre.sttg.work_d}日"
  
  - if 0 != @cre.pfm.pic
    = "、締切厳守率：#{@cre.pfm.dl}%"
    = "、返信率:#{@cre.pfm.reply}%"
  - else
    - if 'new' != controller.action_name
      %br
      %br
        = '納品作品なし'
