.row
  = display_header(@creator)
.row
  .col-2
    = display_icon(@creator, 'size-icon shape-round border-solid4 fit-cover color-steelblue')
  .col-7
    = link_to image_tag('/img/request.png', class: 'symbol upsymbol'), "/requests/new/#{@creator.user_id}"
  .col-1
    = link_to image_tag('/img/twitter.png', class: 'symbol upsymbol') ,@creator.twitter
  .col-1
    = link_to image_tag('/img/pixiv.png', class: 'symbol upsymbol'), @creator.pixiv
.row.my-5
  = "ニックネーム：#{@user.nickname}"
  - if nil != @creator.number_deliveries then
    = "、平均納品日数：#{@creator.Average_delivery}日、納品数：#{@creator.number_deliveries}点、締切厳守率：#{@creator.deadline_rate}%"
