<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;クリエイター紹介</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h3>■キャラクター、道具、衣装</h3>
  </div>
  
  <div class="row">
    
    <% begin %>
      <%# raise #意図的にエラーを発生%>
      <% @creators.each do |creator| %>
        <div class="col-md-auto">
          <% if creator.user.confirmed_at? #ユーザー認証済みの場合画像を表示 %>
            <%= display_character(creator) %>
            <div class="text-center">
              <span style="font-size: 12px;">
                <%= creator.user.nickname %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% rescue => e %>
      <%= p e %>
    <% end %>
  </div>
  
  <div class="row">
    <h3>■背景</h3><br>
  </div>
  
  <div class="row">
    <% begin %>
      <% @creators.each do |creator| %>
        <div class="col-md-auto">
          <% if creator.user.confirmed_at? %>
            <%= display_bg(creator) %>
            <div class="text-center">
              <span style="font-size: 12px;">
                <%= creator.user.nickname %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% rescue => e %>
        <%= p e%>
    <% end %>
  </div>
  
  <div class="row">
    <h3>■2.5/3Dモデリング、スライドショー(Live2D、blender等使用)</h3><br>
  </div>
  
  <div class="row">
    <% begin %>
      <% @creators.each do |creator| %>
        <div class="col-md-auto">
          <% if creator.user.confirmed_at? %>
            <%= display_cg(creator) %>
            <div class="text-center">
              <span style="font-size: 12px;">
                <%= creator.user.nickname %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% rescue => e %>
        <%= p e%>
    <% end %>
  </div>
</div>