<h1>クリエイター紹介</h1><br>

  <h3>ディフォルメキャラ</h3><br>
  <div class="container-fluid">
    <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-2">
        <% if user.image.attached? %>
          <%=link_to image_tag(user.image.variant(resize: '140x140').processed ,class: 'icon'), "/home/show/#{user.id}" %><br>
        <% else %>
          <%=link_to image_tag('/mobu.png',class: 'icon'), "/home/show/#{user.id}" %><br>
        <% end %>
        <div class="text-sm-center"><%= user.nickname %></div>
      </div>
    <% end %>
    </div>
  
  
  <h3>背景</h3><br>
  
  <h3>前景(道具、衣装、エフェクト等)</h3><br>
  
  <h3>スライドショー</h3><br>

</div>


<%= link_to "クリエイター", new_creator_path, method: "get" %>
<%= link_to "画像一覧", creators_path, method: "get" %>
