<h1>クリエイター情報</h1>
<div class="container">
  <div class="row">
    <% begin %>
      <%= image_tag @creator.icon.url  ,class: 'icon upimage' %>
    <% rescue => e %>
      <%=image_tag('/mobu.png',class: 'icon upimage') %>
    <% end %>
    
    <% if @creator.header? %>
      <%= image_tag @creator.header.url ,class: 'header' %>
    <% else %>
      <%=image_tag('/nothing.png',class: 'header') %>
    <% end %>
  </div>  
  
  <div class="row my-5">  
    <%="ニックネーム：#{@user.nickname}" %>
  </div>
  
</div>
