- content_for(:html_title) { 'タイトル名選択' }
%h1.ll_font.ws_bgc タイトルを選ぶ
.container
  .row.mt-5
    - if @ttls
      - @ttls.each do |ttl|
        .ll_square.pt-5.my-5.mx-2.text-center
          = link_to image_tag(ttl.thr.img.thumb320.url,
          class:'full_rect fit_con'),
          ttl_path(ttl.id)
          = '['+ ttl.genre + ']'
          = ttl.t_name
          %br= ttl.pub
  .row.pt-5.mt-5
    = button_to('タイトルを追加', new_ttl_path, method: :get,
    class:"btn btn-light m_font border")
  .row
    = '↑お気に入りのタイトルがない場合'
