- title="#{@ttl.t_name}"
- content_for(:html_title) { title }
%h1.ll_font.ws_bgc
  = title
.container
  .row
    .col-sm-4
      = link_to image_tag(@ttl.path.img.url,
      class:'ll_square full_rect fit_con'), @ttl.path.url
    .col-sm-8
      %table.table
        %thead
          %tr
            %td 
            %td 
        %tbody
          %tr
            %td 著者
            %td= @ttl.auth
          %tr
            %td 発行元
            %td= @ttl.pub
          %tr
            %td 引用先
            %td= @ttl.path.url.slice(0..20) + '...'
          %tr
            %td 
            %td 
  
  .row.mt-5
  = button_to('キャラ追加', "/chars/#{params[:id]}/new", method: :get,
  class:"btn btn-light m_font border")
