- title="#{@ttl.genre}「#{@ttl.t_name}」 感想"
- content_for(:html_title) { title }
%h1.ll_font.ws_bgc
  = title
.container
  .row
    .col-sm-4
      = link_to image_tag(@ttl.thr.img.thumb250.url,
      class:'ll_square full_rect fit_con'), @ttl.thr.url
    .col-sm-8
      %table.table
        %thead
          %tr
            %td 
            %td 
        %tbody
          %tr
            %td 著者
            %td= @ttl.auth
          %tr
            %td 発行元
            %td= @ttl.pub
          %tr
            %td 引用先URL
            %td= link_to @ttl.thr.url.slice(0..20) + '...', @ttl.thr.url,
            {class: 'blu_col'}
          %tr
            %td 
            %td 
  .row
    %h2='感想'
  .row
    = button_to('話数を追加する', "/stories/#{params[:id]}/new",
      method: :get, class:"btn btn-light m_font border")
  .row
    %h2='その他'
  .row
  = button_to('作品中の好きなキャラを挙げる', "/chars/#{params[:id]}/new",
  method: :get, class:"btn btn-light m_font border")
