- content_for(:html_title) { '新規リクエスト' }
%h1.font-Xlarge.background_color-whitesmoke 新規リクエスト

.container
  = render 'shared/user_header'
  .row.my-2
    .col-md-8.border.border-secondary.position-center
      = form_with(model: @request, local: true) do |f|
        .form-group.mt-4
          = f.label :money, '推奨金額(円)'
          
          = f.text_field :money, class:'form-control font-large size_large-form',
            value: @creator.recommended_amount.to_s
            
          = f.label :money, 
            '入力範囲:￥' + @creator.minimum_amount.to_s(:delimited) + '～￥99,999', 
            class:'font-Xsmall'
            
        .form-group.mt-4
          = f.label :message, '本文(400文字以内)'
          = f.text_area :message, autofocus: true,
            class:'form-control', size:'10x6'
          
        .form-group
          = f.label :file_format, 'ファイル形式:'
          = f.select :file_format, ['png', 'jpg', 'jpeg', 'gif']
          
          %br
          = f.check_box :is_anonymous ,{},checked_value = "true",
            unchecked_value = "false"
          = f.label :is_anonymous, '非公開'
          
          %br
          = f.check_box :is_autographed ,{},checked_value = "true",
            unchecked_value = "false"
          = f.label :is_autographed, '宛名入りサイン'
          
        %br
          = f.submit 'リクエスト送信',
            class:'btn btn-light size_Xsmall-rectangle font-large'
        %br/
        = hidden_field_tag :authorizer_id, params[:id]
      %div
        \-注意事項-<br>&nbsp
        以下の内容に同意される方のみリクエストを行ってください。<br>
        ・納品物の品質はクリエイターが決定する。
        納品後に不服申し立てを行わない。<br>
        ・商用利用する場合は用途を明記する。<br>
      %br
      
    .col-md-8.border.border-secondary.position-center
      = form_with(model: @creator, local: true) do |f|
        = hidden_field_tag :referer_img, 'fist_img'
        .form-group
          = '参考資料'
          %br= f.label :message, '1枚目'
          = f.file_field :temp_img
          = f.submit '登録'
            
          - if @creator.temp_img?
            = link_to image_tag(@creator.temp_img.url,
              class:'size_large-rectangle fit_cover'), @creator.temp_img.url
            = form_with(model: @creator, local: true) do |f|
              = f.hidden_field :cancel, :value => 'キャンセル'
              = f.submit '取り消し'
              
            