- content_for(:html_title) { '新規リクエスト' }
%h1.border_color-whitesmoke 新規リクエスト

.container
  = render 'shared/user_header'
  .row.my-2
    .col-md-8.border.border-secondary.position-center-content
      = form_with(model: @requests, local: true) do |f|
        .form-group.mt-4
          = f.label :money, '金額'
          = f.text_field :money, class:'form-control', value: @user.creator.recommended_amount.to_s + '円'
        .form-group
          = f.label :message, '本文(1000文字以内)'
          = f.text_area :message, autofocus: true, class:'form-control', size:'10x6'
        .form-group
          = f.label :file_format, 'ファイル形式:'
          = f.select :file_format, ['png', 'fbx', 'jpeg', 'gif']
        %br
          = f.submit 'リクエスト送信', class:'btn btn-light size-small-Horizontal_variable_rectangle font-large'
        %br/
        
        %div
          \-注意事項-<br> &nbsp以下の内容に同意される方のみリクエストを行ってください。<br>
          ・リテイク無し。<br>
          ・納品物の品質はクリエイターが決定する。納品後に不服申し立てを行わない。<br>
          ・著作権譲渡は原則不可(※ライセンス契約を交わした場合を除く)。<br>
          ・商用利用する場合は用途を明記する。<br>
        %br