<h1>リクエスト状態</h1>
<div class="container">
  <div class="row my-5">
    <% if @sender != nil then %>
      <%="申請日時：#{@requests.created_at.strftime("%Y/%m/%d %H:%M:%S")}" %>
      <table class="table">
        <tr><td><%= "依頼者：#{@sender.nickname}" %></td></tr>
        <tr><td><%= "承認者：#{@receiver.nickname}" %></td></tr>
        <tr><td><%= "状態：#{@requests.status}" %></td></tr>
        <tr><td><%= "リクエストID：#{@requests.id}" %></td></tr>
        <tr><td><%= "金額：#{@requests.money}円" %></td></tr>
        <tr><td><%= "内容：#{@requests.message}" %></td></tr>
      </table>
    <% end %>
  </div>
  
  <div class="row my-5">
    <% if (@requests.receive_id == current_user.id) && (@requests.status == '承認待ち') then %>
      <!--<button type="button" class="btn btn-light"><%#= link_to "リクエスト承認","/requests/#{@user.id}" %></button>-->
      <%= button_to 'リクエスト承認', {controller: 'requests', action: 'show'}, {method: :get, params: {status: '製作中'}} %>
    <% elsif @requests.status == '製作中' %>
      <%= button_to '納品完了', {controller: 'requests', action: 'show'}, {method: :get, params: {status: '納品完了'}} %>
    <% end %>
  </div>
</div>