<h1>リクエスト状態</h1>
<div class="container">
  <div class="row my-5">
    <% if @sender != nil then %>
      <%="申請日時：#{@requests.created_at.strftime("%Y/%m/%d %H:%M:%S")}" %>
      <table class="table">
        <tr><td><%= "依頼者：#{@sender.nickname}" %></td></tr>
        <tr><td><%= "承認者：#{@receiver.nickname}" %></td></tr>
        <tr><td><%= "状態：#{@requests.status}" %></td></tr>
        <tr><td><%= "リクエストID：#{@requests.id}" %></td></tr>
        <tr><td><%= "金額：#{@requests.money}円" %></td></tr>
        <tr><td><%= "内容：#{@requests.message}" %></td></tr>
      </table>  
      
      <% if (@requests.receive_id == current_user.id) && (@requests.status == '承認待ち') && (@requests.status != '製作中') && (@requests.status != '拒否') then %>
        <div class="col-md-auto"><%= "#{@sender.nickname}さんから#{@receiver.nickname}さんへのリクエストを承認しますか？" %></div>
        <div class="col-md-auto"><%= button_to '承認', {controller: 'requests', action: 'show'}, {method: :get, params: {status: '製作中'}} %></div>
        <div class="col-md-auto"><%= button_to '拒否', {controller: 'requests', action: 'show'}, {method: :get, params: {status: '拒否'}} %></div>
        
      <% elsif @requests.status == '製作中' %>
        <%= button_to '納品完了', {controller: 'requests', action: 'show'}, {method: :get, params: {status: '納品完了'}} %>
      <% end %>
    <% end %>
  </div>
</div>