<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;リクエスト状態</h1>
  </div>
</div>

<div class="container">
  <% if @requests != nil then %>
    <% @requests.reverse_each do |request| %>
    <div class="row my-5">
      <div class="col-auto">
        <% if request != nil then %>
          <%="■申請日時：#{request.created_at.strftime("%Y/%m/%d %H:%M:%S")}" %>
          <table class="table">
            <tr><td><%= "依頼者：#{request.sender}" %></td></tr>
            <tr><td><%= "承認者：#{request.receiver}" %></td></tr>
            <tr><td><%= "状態：#{request.status}" %></td></tr>
            <tr><td><%= "リクエストID：#{request.id}" %></td></tr>
            <tr><td><%= "金額：#{request.money}円" %></td></tr>
            <tr><td><%= "リクエスト内容：#{request.message}" %></td></tr>
          </table>  
          
          <% if (request.receiver == @current_user.nickname) && (request.status == '承認待ち') && 
              (request.status != '製作中') && (request.status != '拒否') then %>
            <div class="col-md-auto">
              <%= "#{request.sender}さんから#{request.receiver}さんへのリクエストを承認しますか？" %>
            </div>
  
            <div class="col-md-auto">
              <%= button_to '承認', {controller: 'requests', action: 'show'}, {method: :get, params: {status: '製作中', request_id: request.id, pressed: 'ON'}} %>
            </div>
            <div class="col-md-auto">
              <%= button_to '拒否', {controller: 'requests', action: 'show'}, {method: :get, params: {status: '拒否'}} %>
            </div>
            
          <% elsif request.status == '製作中' %>
            <div class="col-md-auto">
              <%= form_with(model: request, local: true) do |f| %>
                <%= f.file_field :deliver_img %>
                <%= submit_tag("登録") %>
              <% end %>
            </div>
            <div class="col-md-auto">
              <%= button_to '納品する', {controller: 'requests', action: 'show'}, {method: :get, params: {status: '納品完了'}} %>
            </div>
          <% else %>
            <%= "それ以外" %>
          <% end %>
          <div class="col-auto">
            <% if request.deliver_img? %>
              <%= image_tag request.deliver_img.url ,class: 'deliverables cover' %>
            <% end %>
          </div>
        <% else %>
          <%="request 又は、　@senderの値がありません" %>
        <% end %>
      </div>
      
      <div class="col-auto">
        <button type="button">
          <%= link_to "通報", requests_path %>
        </button>
      </div>
    </div>
    <% end %>
  <% else %>
    <%="リクエストがまだ存在しません"%>
  <% end %>
</div>