<h1>リクエスト状態</h1>
<div class="container">
  <div class="row my-5">
    <% if @sender != nil then %>
      <%="申請日時：#{@requests.created_at.strftime("%Y/%m/%d %H:%M:%S")}" %>
      <table class="table">
        <tr><td><%= "依頼者：#{@sender.nickname}" %></td></tr>
        <tr><td><%= "承認者：#{@receiver.nickname}" %></td></tr>
        <tr><td><%= "状態：#{@requests.status}" %></td></tr>
        <tr><td><%= "リクエストID：#{@requests.id}" %></td></tr>
        <tr><td><%= "金額：#{@requests.money}円" %></td></tr>
        <tr><td><%= "内容：#{@requests.message}" %></td></tr>
      </table>
    <% end %>
  </div>
</div>