%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { '売上' }
%h1.font-Xlarge.background_color-whitesmoke="#{@creator.user.nickname}さんの売上"

.container
  - if 0 < @creator.earnings
    - if true == @withdrawal_confirmation
      .row
        確認
    - else
      .row
        = "総売上:#{@creator.earnings}円"
        %br
        = "引き落とし可能額:#{@creator.earnings}円"
      .row
        %br
      .row
        = button_to "指定口座に引き落とす", {controller: 'creators', action: 'earning'}, {method: :get, params:{withdrawal_confirmation: true}}
  - else
    .row
      売上はありません
    
    