%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { '売上' }
%h1.font-Xlarge.background_color-whitesmoke="#{@creator.user.nickname}さんの売上"

.container
  - @creator.earnings = 3000
  - @creator.withdrawal_amount = 3000
  - if 0 < @creator.earnings
    - if '確認' == @withdrawal_status
      .row
        %br= "引き落とし額：#{@creator.withdrawal_amount-(@creator.withdrawal_amount*0.15).to_i}円 - 銀行振込手数料"
      .row.my-5
        ="指定先の口座に引き落としますか？"
      .row.my-3
        .col-1
          = button_to "はい", {controller: 'creators', action: 'earning'}, {method: :get, params:{withdrawal_status: '引き落とし実行'}}
        .col-1
          = button_to "いいえ", {controller: 'creators', action: 'earning'}, {method: :get, params:{withdrawal_status: 'キャンセル'}}

    - else
      .row
        = "総売上:#{@creator.earnings}円"
        %br= "売上:#{@creator.withdrawal_amount}円"
        = "サービス利用料15% : - #{(@creator.withdrawal_amount*0.15).to_i}円"
        %br= "引き落とし可能額合計：#{@creator.withdrawal_amount-(@creator.withdrawal_amount*0.15).to_i}円"

      .row
        %br
      .row
        %br= button_to "指定口座に引き落とす", {controller: 'creators', action: 'earning'}, {method: :get, params:{withdrawal_status: '確認'}}
  - else
    .row
      売上はありません
    
    