<% if Rails.env.production? %>
  <script src="//accaii.com/orino/script.js" async></script><noscript><img src="//accaii.com/orino/script?guid=on"></noscript>
<% end %>
<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;ユーザー情報編集</h1>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <%= "アイコン：" %>
    <div class="col-md-auto">
      <% if @creator.icon? %>
        <%= image_tag @creator.icon.url  ,class: 'icon' %>
      <% else %>
        <%= image_tag('/img/mobu.png',class: 'icon' ) %>
      <% end %>
    </div>
    
    <div class="col-auto">
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :icon %>
        <%= submit_tag("変更") %>
      <% end %>
    </div>
  </div>
  
  <div class="row my-5">
    <%= "ヘッダー：" %>
    
    <div class="col">
      <% if @creator.header? %>
        <%= image_tag @creator.header.url  ,class: 'header' %>
      <% else %>
        <%= image_tag('/img/nothing.png',class: 'header') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :header %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>

  <div class="row my-5">
    <%= "アカウント情報：" %>
    <table class="table">
      <tr><td><%= "Eメール：#{@user.email}" %></td></tr>
      <tr><td><%= " パスワード: xxxxxxxxxxx" %></td></tr>
      <tr><td><%= "ニックネーム：#{@user.nickname}" %></td></tr>
      <tr><td><%= "在籍 or 退会：在籍" %></td></tr>
      <td><button type="button">
        <%= link_to "変更", edit_user_registration_path %>
      </button></td>
    </table>
  </div>
  
  <div class="row my-5">
    <%= "口座情報：" %>
    <table class="table">
      <tr><td><%= "銀行口座： xxxxxxxxxxx" %></td></tr>
      <td><button type="button"><%= link_to "変更", credit_path %></button></td>
    </table>
  </div>
  
  <div class="row my-5">
    <%= "リンク先：" %>
    <table class="table">
      <tr><td>
        <%= form_with(model: @creator, local: true) do |f| %>
          <%= "twitter：" %><%= f.text_field :twitter ,{size:"70"} %>
          <%= submit_tag "変更" %>
        <% end %>
      </td></tr>
      
      <tr><td>
        <%= form_with(model: @creator, local: true) do |f| %>
          <%= "pixiv：" %><%= f.text_field :pixiv ,{size:"70"} %>
          <%= submit_tag "変更" %>
        <% end %>
      </td></tr>
    </table>
  </div>
  
  <div class="row">
    <%= "キャラクター、道具：" %>
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.label :表示 %>
      <%= f.check_box :fg_display, id: :checkbox, :as => :boolean %>
      <%= submit_tag("設定") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <div class="col-md-auto">
      <% if @creator.fg1? %>
        <%= image_tag @creator.fg1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :fg1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col-md-auto">
      <% if @creator.fg2? %>
        <%= image_tag @creator.fg2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :fg2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>

    <div class="col-md-auto">
      <% if @creator.fg3? %>
        <%= image_tag @creator.fg3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :fg3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <%= "背景：" %>
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.label :表示 %>
      <%= f.check_box :bg_display, id: :checkbox, :as => :boolean %>
      <%= submit_tag("設定") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <div class="col-md-auto">
      <% if @creator.bg1? %>
        <%= image_tag @creator.bg1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :bg1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col-md-auto">
      <% if @creator.bg2? %>
        <%= image_tag @creator.bg2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :bg2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col-md-auto">
      <% if @creator.bg3? %>
        <%= image_tag @creator.bg3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :bg3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <%= "2.5/3Dモデリング、スライドショー(Live2D、blender等使用)：" %>
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.label :表示 %>
      <%= f.check_box :cg_display,id: :checkbox, :as => :boolean %>
      <%= submit_tag("設定") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <div class="col-md-auto">
      <% if @creator.cg1? %>
        <%= image_tag @creator.cg1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :cg1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col-md-auto">
      <% if @creator.cg2? %>
        <%= image_tag @creator.cg2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :cg2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col-md-auto">
      <% if @creator.cg3? %>
        <%= image_tag @creator.cg3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :cg3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>
</div>
