%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { 'ユーザー編集' }
%h1.font-Xlarge.background_color-whitesmoke ユーザー編集

.container
  .row.my-5
    = form_with(model: @creator, local:true) do |f|
      = f.label :header , '私の代表作：'
      = f.file_field :header
      = f.submit '登録'
    .col
      = display_header(@creator, 'size_medium-rectangle fit_cover')
    
  .row.my-5
    = form_with(model: @creator, local:true) do |f|
      = f.label :icon, 'アイコン：'
      = f.file_field :icon
      = f.submit '登録'
    = display_icon(@creator, 'size_medium-square fit_cover rounded-circle')
  .row.my-5
    = 'アカウント情報：'
    %table.table
      %tr
        %td="Eメール：#{@creator.user.email}"
      %tr
        %td='パスワード: xxxxxxxxxxx'
      %tr
        %td="ニックネーム：#{@creator.user.nickname}"
      %tr
        %td='在籍 or 退会：在籍'
      %td
        %button{:type => 'buton'}= link_to '変更', edit_user_registration_path
  .row.my-5
    = 'リンク先：'
    %table.table
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :twitter, 'twitter:'
            = f.text_field :twitter, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :pixiv, 'pixiv:'
            = f.text_field :pixiv, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :instagram, 'instagram:'
            = f.text_field :instagram, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :youtube, 'youtube:'
            = f.text_field :youtube, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :link, '他リンク先:'
            = f.text_field :link, class:'size_variable-form'
            = f.submit '登録'
  .row.my-5
    = 'リクエスト受付内容：'
    %table.table
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :recommended_amount, '推奨金額(円):'
            = f.text_field :recommended_amount
            = f.label :minimum_amount, '最低金額(円):'
            = f.text_field :minimum_amount
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :request_acceptance_permission, 'リクエスト受付:'
            - if ((nil != @credit) && (nil != @credit.bank) && (nil != @credit.branch_name) && (nil != @credit.account_type) && (nil != @credit.account_number) && (nil != @credit.account_holder) || ('development' == ENV['RAILS_ENV']))
              - if true != @creator.request_acceptance_permission
                = f.hidden_field :request_acceptance_permission, value:true
                = f.submit '開始', :name => 'open'
              - else
                = f.hidden_field :request_acceptance_permission, value:false
                = f.submit '停止'
            - else
              %button{:disabled => "disabled", :type => "submit"}='開始'
              = '※報酬受取先の口座登録が事前に必要です'
  .row.my-5
    = '作業予定日数：'
    %table.table
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :working_days, '作業予定日数(日)：'
            = f.text_field :working_days, :size=>"5"
            = f.submit '変更'
  .row.my-5
    = '口座情報：'
    %table.table
      %tr
        -if (nil != @credit) && (nil != @credit.bank)
          %td='銀行口座： xxxxxxxxxxx'
        -else
          %td='登録口座なし'
      %td
        %button{:type => 'button'}
          =link_to '登録', credit_path
  .row.my-5
    = 'クレジットカード：'
    %table.table
      %tr
        -if not @card.nil?
          %td='カード番号： xxxx-xxxx-xxxx-xxxx'
        -else
          %td='登録カードなし'
      %td
        %button{:type => 'button'}
          = link_to '登録', new_card_path, data: {"turbolinks" => false}
  
  .row.my-5
    = 'NSFW：'
    %table.table
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :nsfw, '表示と受付:'
            - if not @creator.nsfw
              = f.hidden_field :nsfw, value:true
              = f.submit '不可'
            - else
              = f.hidden_field :nsfw, value:false
              = f.submit '可'
  .row.my-5
    = '再開通知リスト：'
    %table.table
      %tr
      %td
        %button{:type => 'button'}
          =link_to 'リスト表示', resume_path
