<h1><%="ユーザー情報編集"%></h1><br><br>
<div class="container">
  <div class="row">
    <%="アイコン："%>
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :header %>
        <%= submit_tag("登録") %>
      <% end %>
    <div class="col-md-2">
      <% if @creator.icon? %>
        <%= image_tag @creator.header.url  ,class: 'icon' %>
      <% else %>
        <%=image_tag('/mobu.png',class: 'icon' ) %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <%="ヘッダー："%>
    
    <% if @creator.header? %>
      <%= image_tag @creator.header.url  ,class: 'header' %>
    <% else %>
      <%=image_tag('/nothing.png',class: 'header') %>
    <% end %>
    
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.file_field :header %>
      <%= submit_tag("登録") %>
    <% end %>
  </div>
  
  <div class="row">
    <%="Eメール,パスワード："%>
    <div class="col-md-2">
      <button type="button"><%= link_to "変更", edit_user_registration_path %></button>
    </div>
  </div>
  <br><br>
  
  <div class="row">
    <table class="table">
      <tr>
        <tH><%="ニックネーム:"%><br></tH>
        <tH><%=@user.nickname%><br></tH>
      </tr>
      
      <tr>
        <tH><%="ヘッダー:#{ @creator.user_id }"%><br></tH>
        <tH><%="ヘッダー変更"%><br></tH>
      </tr>
    </table>
  </div>
</div>



