%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { 'ユーザー情報編集' }
%h1.color-whitesmoke ユーザー情報編集

.container
  .row.my-5
    .col-auto
      = form_with(model: @user.creator, local: true) do |f|
        = f.label :icon , 'アイコン：'
        = f.file_field :icon
        = f.submit '登録'
    .col-auto
      = display_icon(@user.creator, 'size-large-square shape-round border-solid4 fit-cover color-steelblue')
    
  .row.my-5
    .col
      = form_with(model: @user.creator, local: true) do |f|
        = f.label :header , 'ヘッダー：'
        = f.file_field :header
        = f.submit '登録'
      = display_header(@user.creator, 'size-middle-Horizontal_variable_rectangle fit-cover')
  .row.my-5
    .col
      = 'アカウント情報：'
      %table.table
        %tr
          %td="Eメール：#{@user.email}"
        %tr
          %td='パスワード: xxxxxxxxxxx'
        %tr
          %td="ニックネーム：#{@user.nickname}"
        %tr
          %td='在籍 or 退会：在籍'
        %td
          %button{:type => 'buton'}
            = link_to '変更', edit_user_registration_path
  .row.my-5
    .col
      = '口座情報：'
      %table.table
        %tr
          %td='銀行口座： xxxxxxxxxxx'
        %td
          %button{:type => 'button'}
            =link_to '登録', credit_path
  .row.my-5
    .col
      = 'リンク先：'
      %table.table
        %tr
          %td
            = form_with(model: @user.creator, local: true) do |f|
              = f.label :twitter , 'twitter:'
              = f.text_field :twitter ,{size:'70'}
              = f.submit '登録'
        %tr
          %td
            = form_with(model: @user.creator, local: true) do |f|
              = f.label :pixiv , 'pixiv:'
              = f.text_field :pixiv ,{size:'70'}
              = f.submit '登録'

