<h1><%= "ユーザー情報編集" %></h1>
<div class="container">
  <div class="row my-5">
    <%= "アイコン：" %>
    
    <div class="col-md-auto">
      <% if @creator.icon? %>
        <%= image_tag @creator.icon.url  ,class: 'icon' %>
      <% else %>
        <%= image_tag('/img/mobu.png',class: 'icon' ) %>
      <% end %>
    </div>
    
    <div class="col-auto">
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :icon %>
        <%= submit_tag("変更") %>
      <% end %>
    </div>
  </div>
  
  <div class="row my-5">
    <%= "ヘッダー：" %>
    
    <div class="col">
      <% if @creator.header? %>
        <%= image_tag @creator.header.url  ,class: 'header' %>
      <% else %>
        <%=image_tag('/img/nothing.png',class: 'header') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :header %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>

  <div class="row my-5">
    <%= "アカウント情報：" %>
    <table class="table">
      <tr><td><%= "Eメール：#{@user.email}" %></td></tr>
      <tr><td><%= " パスワード: xxxxxxxxxxx" %></td></tr>
      <tr><td><%= "ニックネーム：#{@user.nickname}" %></td></tr>
      <tr><td><%= "在籍 or 退会：在籍" %></td></tr>
      <td><button type="button">
        <%= link_to "変更", edit_user_registration_path %>
      </button></td>
    </table>
  </div>
  
  <div class="row my-5">
    <%= "リンク先：" %>
    <table class="table">
      <tr><td>
        <%= form_with(model: @creator, local: true) do |f| %>
          <%= "twitter：" %><%= f.text_field :twitter ,{size:"70"} %>
          <%= submit_tag "変更" %>
        <% end %>
      </td></tr>
      
      <tr><td>
        <%= form_with(model: @creator, local: true) do |f| %>
          <%= "pixiv：" %><%= f.text_field :pixiv ,{size:"70"} %>
          <%= submit_tag "変更" %>
        <% end %>
      </td></tr>
    </table>
  </div>
  
  <div class="row">
    <%= "デフォルメキャラ(2～3頭身)：" %>
    <%= render partial: "form", locals: { thing: @creator } %>
  </div>
  
  <div class="row my-5">
    <div class="col">
      <% if @creator.deforume1? %>
        <%= image_tag @creator.deforume1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :deforume1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.deforume2? %>
        <%= image_tag @creator.deforume2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :deforume2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.deforume3? %>
        <%= image_tag @creator.deforume3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :deforume3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
</div>



