%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { 'ユーザー情報編集' }
%h1.border_color-whitesmoke ユーザー情報編集

.container
  .row.my-5
    .col-auto
      = form_with(model: @user.creator, local:true) do |f|
        = f.label :icon, 'アイコン：'
        = f.file_field :icon
        = f.submit '登録'
    .col-auto
      = display_icon(@user.creator, 'size-large-square rounded-circle border-solid4 fit-cover border_color-steelblue')
    
  .row.my-5
    = form_with(model: @user.creator, local:true) do |f|
      = f.label :header , 'ヘッダー：'
      = f.file_field :header
      = f.submit '登録'
    = display_header(@user.creator, 'size-middle-Horizontal_variable_rectangle fit-cover')
  .row.my-5
    = 'アカウント情報：'
    %table.table
      %tr
        %td="Eメール：#{@user.email}"
      %tr
        %td='パスワード: xxxxxxxxxxx'
      %tr
        %td="ニックネーム：#{@user.nickname}"
      %tr
        %td='在籍 or 退会：在籍'
      %td
        %button{:type => 'buton'}
          = link_to '変更', edit_user_registration_path
          
  .row.my-5
    = 'リクエスト受付内容：'
    %table.table
      %tr
        %td
          = form_with(model: @user.creator, local:true) do |f|
            = f.label :recommended_amount, '金額(円):'
            = f.text_field :recommended_amount
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @user.creator, local:true) do |f|
            = f.label :request_acceptance_permission, 'リクエスト受付:'
            - if true != @user.creator.request_acceptance_permission
              = f.hidden_field :request_acceptance_permission, value:true
              = f.submit '開始'
            - else
              = f.hidden_field :request_acceptance_permission, value:false
              = f.submit '停止'
  .row.my-5
    = 'リンク先：'
    %table.table
      %tr
        %td
          = form_with(model: @user.creator, local:true) do |f|
            = f.label :twitter, 'twitter:'
            = f.text_field :twitter
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @user.creator, local:true) do |f|
            = f.label :pixiv, 'pixiv:'
            = f.text_field :pixiv
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @user.creator, local:true) do |f|
            = f.label :instagram, 'instagram:'
            = f.text_field :instagram
            = f.submit '登録'
  .row.my-5
    = '口座情報：'
    %table.table
      %tr
        %td='銀行口座： xxxxxxxxxxx'
      %td
        %button{:type => 'button'}
          =link_to '登録', credit_path

