/ クリエーター情報の編集を行う
- content_for(:html_title) { 'ユーザー編集' }
%h1.font-Xlarge.background_color-whitesmoke ユーザー編集

.container
  / ヘッダー表示の設定
  .row.my-5
    = form_with(model: @creator, local:true) do |f|
      = f.label :header , '私の代表作：'
      = f.file_field :header
      = f.submit '登録'
    .col
      = display_header(@creator, 'size_medium-rectangle fit_c')
  
  / アイコン表示の設定
  .row.my-5
    = form_with(model: @creator, local:true) do |f|
      = f.label :icon, 'アイコン：'
      = f.file_field :icon
      = f.submit '登録'
      
    = icon(@creator, 'size_medium-square fit_c rounded-circle')

  .row.my-5
    = 'アカウント情報：'
    %table.table
      %tr
        %td="Eメール：#{@creator.user.email}"
      %tr
        %td="ニックネーム：#{@creator.user.nickname}"
      %tr
        %td='在籍 or 退会：在籍'
      %td
        = button_to '変更', edit_user_registration_path
        
  .row.my-5
    = 'リンク先：'
    %table.table
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :twitter, 'twitter:'
            = f.text_field :twitter, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :pixiv, 'pixiv:'
            = f.text_field :pixiv, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :instagram, 'instagram:'
            = f.text_field :instagram, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :youtube, 'youtube:'
            = f.text_field :youtube, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @creator, local:true) do |f|
            = f.label :link, '他リンク先:'
            = f.text_field :link, class:'size_variable-form'
            = f.submit '登録'
            
  .row.my-5
    = 'リクエスト受付内容：'
    %table.table
      %tr
        %td
          = form_with(model: @setting, local:true) do |f|
            = f.label :recommend, '推奨金額(円):'
            = f.text_field :recommend
            = f.label :minimum, '最低金額(円):'
            = f.text_field :minimum
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @setting, local:true) do |f|
            = f.label :opening, 'リクエスト受付:'
            // @creditの値がnilかfailsでなく、口座情報の値が全て埋まっている場合
            - if @is_credit_all || ('development' == ENV['RAILS_ENV'])
            
              - if true != @setting.opening
                = f.hidden_field :opening, value:true
                = f.submit '開始', :name => 'accepting_requests'
              - else
                = f.hidden_field :opening, value:false
                = f.submit '停止'
            - else
              %button{:disabled => "disabled", :type => "submit"}='開始'
              = '※報酬受取先の口座登録が事前に必要です'
              
  .row.my-5
    = '作業予定日数：'
    %table.table
      %tr
        %td
          = form_with(model: @setting, local:true) do |f|
            = f.label :working, '作業予定日数(日)：'
            = f.text_field :working, :size => '5'
            = f.submit '変更'
            
  .row.my-5
    = '口座情報：'
    %table.table
      %tr
        - if @is_credit_all
          %td='銀行口座： xxxxxxxxxxx'
        - else
          %td='登録口座なし'
      %td
        = button_to '登録', credit_path, method: :get
        
  .row.my-5
    = 'クレジットカード：'
    %table.table
      %tr
        - if @card
          %td='カード番号： xxxx-xxxx-xxxx-xxxx'
        - else
          %td='登録カードなし'
      %td
        = button_to '登録', new_card_path, method: :get,
          data: {"turbolinks" => false}
          
  .row.my-5
    = '再開通知リスト：'
    %table.table
      %tr
        %td
          = button_to 'リスト表示', resume_path, method: :get