<h1><%= "ユーザー情報編集" %></h1>
<div class="container">
  <div class="row my-5">
    <%= "アイコン：" %>
    
    <div class="col-md-auto">
      <% if @creator.icon? %>
        <%= image_tag @creator.icon.url  ,class: 'icon' %>
      <% else %>
        <%= image_tag('/img/mobu.png',class: 'icon' ) %>
      <% end %>
    </div>
    
    <div class="col-auto">
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :icon %>
        <%= submit_tag("変更") %>
      <% end %>
    </div>
  </div>
  
  <div class="row my-5">
    <%= "ヘッダー：" %>
    
    <div class="col">
      <% if @creator.header? %>
        <%= image_tag @creator.header.url  ,class: 'header' %>
      <% else %>
        <%= image_tag('/img/nothing.png',class: 'header') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :header %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>

  <div class="row my-5">
    <%= "アカウント情報：" %>
    <table class="table">
      <tr><td><%= "Eメール：#{@user.email}" %></td></tr>
      <tr><td><%= " パスワード: xxxxxxxxxxx" %></td></tr>
      <tr><td><%= "ニックネーム：#{@user.nickname}" %></td></tr>
      <tr><td><%= "在籍 or 退会：在籍" %></td></tr>
      <td><button type="button">
        <%= link_to "変更", edit_user_registration_path %>
      </button></td>
    </table>
  </div>
  
  <div class="row my-5">
    <%= "口座情報：" %>
    <table class="table">
      <tr><td><%= "銀行口座： xxxxxxxxxxx" %></td></tr>
      <td><button type="button"><%= link_to "変更", credit_path %></button></td>
    </table>
  </div>
  
  <div class="row my-5">
    <%= "リンク先：" %>
    <table class="table">
      <tr><td>
        <%= form_with(model: @creator, local: true) do |f| %>
          <%= "twitter：" %><%= f.text_field :twitter ,{size:"70"} %>
          <%= submit_tag "変更" %>
        <% end %>
      </td></tr>
      
      <tr><td>
        <%= form_with(model: @creator, local: true) do |f| %>
          <%= "pixiv：" %><%= f.text_field :pixiv ,{size:"70"} %>
          <%= submit_tag "変更" %>
        <% end %>
      </td></tr>
    </table>
  </div>
  
  <div class="row">
    <%= "キャラクター：" %>
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.label :表示 %>
      <%= f.check_box :deforume_display, id: :checkbox, :as => :boolean %>
      <%= submit_tag("設定") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <div class="col">
      <% if @creator.deforume1? %>
        <%= image_tag @creator.deforume1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :deforume1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.deforume2? %>
        <%= image_tag @creator.deforume2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :deforume2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.deforume3? %>
        <%= image_tag @creator.deforume3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :deforume3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <%= "背景：" %>
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.label :表示 %>
      <%= f.check_box :background_display, id: :checkbox, :as => :boolean %>
      <%= submit_tag("設定") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <div class="col">
      <% if @creator.background1? %>
        <%= image_tag @creator.background1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :background1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.background2? %>
        <%= image_tag @creator.background2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :background2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.background3? %>
        <%= image_tag @creator.background3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :background3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <%= "前景(道具、衣装、エフェクト等)：" %>
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.label :表示 %>
      <%= f.check_box :foreground_display,id: :checkbox, :as => :boolean %>
      <%= submit_tag("設定") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <div class="col">
      <% if @creator.foreground1? %>
        <%= image_tag @creator.foreground1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :foreground1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.foreground2? %>
        <%= image_tag @creator.foreground2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :foreground2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.foreground3? %>
        <%= image_tag @creator.foreground3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :foreground3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <%= "バストアップ(4頭身以上)：" %>
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.label :表示 %>
      <%= f.check_box :bustup_display, id: :checkbox, :as => :boolean %>
      <%= submit_tag("設定") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <div class="col">
      <% if @creator.bustup1? %>
        <%= image_tag @creator.bustup1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :bustup1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.bustup2? %>
        <%= image_tag @creator.bustup2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :bustup2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.bustup3? %>
        <%= image_tag @creator.bustup3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :bustup3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <%= "ラフ・カラーラフ(4頭身以上)：" %>
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.label :表示 %>
      <%= f.check_box :rough_display, id: :checkbox, :as => :boolean %>
      <%= submit_tag("設定") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <div class="col">
      <% if @creator.rough1? %>
        <%= image_tag @creator.rough1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :rough1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.rough2? %>
        <%= image_tag @creator.rough2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :rough2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.rough3? %>
        <%= image_tag @creator.rough3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :rough3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <%= "スライドショー：" %>
    <%= form_with(model: @creator, local: true) do |f| %>
      <%= f.label :表示 %>
      <%= f.check_box :slide_display, id: :checkbox, :as => :boolean %>
      <%= submit_tag("設定") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <div class="col">
      <% if @creator.slide1? %>
        <%= image_tag @creator.slide1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :slide1 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.slide2? %>
        <%= image_tag @creator.slide2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :slide2 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.slide3? %>
        <%= image_tag @creator.slide3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag('/img/noImage.png',class: 'thumbnail cover') %>
      <% end %>
      
      <%= form_with(model: @creator, local: true) do |f| %>
        <%= f.file_field :slide3 %>
        <%= submit_tag("登録") %>
      <% end %>
    </div>
  </div>



