/ クリエーターの情報と実績を表示する
- content_for(:html_title) { 'ユーザー情報' }
%h1.font-Xlarge.background_color-whitesmoke ユーザー情報

.container
  / ユーザーヘッダーの表示
  = render 'shared/user_hdr'
  - if 'production' != ENV['RAILS_ENV']
    .row
      %h2.font-large イラスト晒し
    .row
      = button_to '晒す', "/exposures/#{params[:id]}/new", class:"font-large", method: :get
  
  - if @works
    .row
      %h2.font-large リクエスト作品
      
    / 納品したリクエストのリンク付き画像を表示
    .row
      // - @works.reverse_each do |work|
      - @works.each do |work|
        .col3.m-2
          - if not work.img1.blank?
            = link_to image_tag(work.img1.url,
              class: 'size_Xlarge-square fit_c border_solid-medium'),
              "/requests/#{work.request_id}"
              
          - else
            .alert.alert-dismissable.alert-danger
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              %p="request_id#{work.request_id}の画像が見つかりません"
