<h1>ユーザー情報</h1>
<div class="container">
  <div class="row">
    <% if @creator.header? %>
      <%= image_tag @creator.header.url ,class: 'header' %>
    <% else %>
      <%= image_tag('/img/nothing.png',class: 'header') %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-9">
      <% begin %>
        <%= image_tag @creator.icon.url  ,class: 'icon upicon' %>
      <% rescue => e %>
        <%= image_tag('/img/mobu.png',class: 'icon upicon') %>
      <% end %>
    </div>
    
    <div class="col-1">
      <%= link_to image_tag('/img/twitter.png',class: 'symbol upsymbol'),@creator.twitter %>
    </div>
    
    <div class="col-1">
      <%= link_to image_tag('/img/pixiv.png',class: 'symbol upsymbol'), @creator.pixiv %>
    </div>
  </div>
  
  <div class="row my-5">  
    <%= "ニックネーム：#{@user.nickname}" %>
  </div>
  <% if @creator.checkbox == true then%>
  <div class="row">
    <%= "デフォルメキャラ(2～3頭身)：" %>
  </div>
  
  <div class="row my-5">
    <div class="col">
      <% if @creator.deforume1? %>
        <%= image_tag @creator.deforume1.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag '/img/noImage.png', class: 'thumbnail cover' %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.deforume2? %>
        <%= image_tag @creator.deforume2.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag '/img/noImage.png', class: 'thumbnail cover' %>
      <% end %>
    </div>
    
    <div class="col">
      <% if @creator.deforume3? %>
        <%= image_tag @creator.deforume3.url, class: 'thumbnail' %>
      <% else %>
        <%= image_tag '/img/noImage.png', class: 'thumbnail cover' %>
      <% end %>
    </div>
  </div>
  <% end %>
