<%= ENV['ACCESS_LABORATORY'] %>
<h1>ユーザー情報</h1>
<div class="container">
  <%= render  'shared/user_header' %>

  <% if @creator.fg_display == true then %>
    <div class="row">
      <%= "キャラクター、道具、エフェクト：" %>
    </div>
    
    <div class="row my-5">
      <div class="col-md-auto">
        <%= show_fg(@creator.fg1) %>
      </div>
      
      <div class="col-md-auto">
        <%= show_fg(@creator.fg2) %>
      </div>
      
      <div class="col-md-auto">
        <%= show_fg(@creator.fg3) %>
      </div>
    </div>
  <% end %>
  
  
  <% if @creator.bg_display == true then %>
    <div class="row">
      <%= "背景：" %>
    </div>
    
    <div class="row my-5">
      <div class="col-md-auto">
        <%= show_bg(@creator.bg1) %>
      </div>
      
      <div class="col-md-auto">
        <%= show_bg(@creator.bg2) %>
      </div>
      
      <div class="col-md-auto">
        <%= show_bg(@creator.bg3) %>
      </div>
    </div>
  <% end %>
  
  <% if @creator.cg_display == true then %>
    <div class="row">
      <%= "前景(道具、衣装、エフェクト等)：" %>
    </div>
    
    <div class="row my-5">
      <div class="col-md-auto">
        <%= show_cg(@creator.cg1) %>
      </div>
      
      <div class="col-md-auto">
        <%= show_cg(@creator.cg2) %>
      </div>
      
      <div class="col-md-auto">
        <%= show_cg(@creator.cg3) %>
      </div>
    </div>
    </div>
  <% end %>
</div>