- content_for(:html_title) { 'お振込み先口座登録' }
%h1.font-Xlarge.background_color-whitesmoke お振込み先口座登録

.container
  .row.my-5
    .col-md-7.border.border-secondary
      = form_with(model: @credits, local: true) do |f|
        .form-group
          = f.label :'銀行名'
          = f.text_field :bank, autofocus: true, class: 'form-control'
          
        .form-group
          = f.label :'支店名'
          = f.text_field :branch_name, class: 'form-control'
          
        .form-group
          = f.label :'口座の種類'
          %br
            = f.radio_button :account_type, :'普通'
            = f.label :account_type, '普通', {value: :'普通'}
            = f.radio_button :account_type, :'当座'
            = f.label :account_type, '当座', {value: :'当座'}
            
        .form-group
          = f.label :'口座番号'
          = f.text_field :account_number, class: 'form-control'
          
        .form-group
          = f.label :'口座名義'
          = f.text_field :account_holder, class: 'form-control'
          
        %div
          = f.submit '口座登録'
        %br/