<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;お振込み先口座登録</h1>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-md-7 border border-primary">
      <%= form_with(model: @credits, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :"銀行名" %>
          <%= f.text_field :bank, autofocus: true, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :"支店名" %>
          <%= f.text_field :branch_name, autofocus: true, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :"口座の種類" %>
          <%= f.text_field :account_type, autofocus: true, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :"口座番号" %>
          <%= f.text_field :account_number, autofocus: true, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :"口座名義" %>
          <%= f.text_field :account_holder, autofocus: true, class: 'form-control' %>
        </div>
        
        <div>
          <%= submit_tag("口座登録") %>
        </div><br>
      <% end %>
    </div>
  </div>
</div>