<% if Rails.env.production? %>
  <script src="//accaii.com/orino/script.js" async></script><noscript><img src="//accaii.com/orino/script?guid=on"></noscript>
<% end %>

<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;お振込み先口座</h1>
  </div>
</div>

<div class="container">

  <div class="row my-5">
    <%= イラストライフ運営局一時預かり金 %>
    <div class="col-md-4">
      <table border=1>
        <tr><td width="150">銀行名</td><td width="200"><%= @credits.bank %></td></tr>
        <tr><td>支店名</td><td><%= @credits.branch_name %></td></tr>
        <tr><td>口座の種類</td><td><%= @credits.account_type %></td></tr>
        <tr><td>口座番号</td><td><%= @credits.account_number %></td></tr>
        <tr><td>口座名義</td><td><%= @credits.account_holder %></td></tr>
      </table>
    </div>
  </div>

  
</div>