%meta{:content => "noindex", :name => "robots"}/

- content_for(:html_title) { '一時預かり先口座' }
%h1.color-whitesmoke 一時預かり先口座

.container
  .row.my-5
    ='振込み先口座'
    .col-md-4
      %table{:border => "1"}
        %tr
          %td{:width => "150"} 銀行名
          %td{:width => "200"}= '三菱東京UFJ'
        %tr
          %td 支店名
          %td= '聖護院支店'
        %tr
          %td 口座の種類
          %td= '普通'
        %tr
          %td 口座番号
          %td= '4565837'
        %tr
          %td 口座名義
          %td= '林範夫'
