- content_for(:html_title) { 'お振込み先情報' }
%h1.font-Xlarge.background_color-whitesmoke お振込み先情報

.container
  .row.my-5
    .col-md-4
      %table{:border => "1"}
        %tr
          %td{:width => "150"} 銀行名
          %td{:width => "200"}= @credits.bank
        %tr
          %td 支店名
          %td= @credits.branch_name
        %tr
          %td 口座の種類
          %td= @credits.account_type
        %tr
          %td 口座番号
          %td= @credits.account_number
        %tr
          %td 口座名義
          %td= @credits.account_holder
    .col-md-3
      %button{:type => "button"}= link_to '登録', "/credits/#{params[:id]}/new"
