= "#{@tx.nick}さんから"
= "#{@rx.nick}さんへのリクエストを承認しますか？"
= button_to '承認', work_path,{method: :get, params:{stts:'製作中', 
req_id: @work.req.id, amount: @work.req.money}}
%br
= button_to '拒否', work_path,{method: :get, params:{stts:'拒否',
req_id: @work.req.id}}