= "#{@tx.nick}さんから"
= "#{@rx.nick}さんへのリクエストを承認しますか？"
= button_to '承認', work_path,{method: :get, params:{status:'製作中', 
request_id: @work.request.id, amount: @work.request.money}}
%br
= button_to '拒否', work_path,{method: :get, params:{status:'拒否',
request_id: @work.request.id}}