= form_with(model:@work, local: true) do |f|
  = f.hidden_field :request_id, :value => @work.request_id
  - if @work.images.blank?
    = '1枚目'
    = f.file_field :images, multiple: true
    = f.submit '登録'
  - if @work.images?
    - @work.images.each do |image|
      = link_to image_tag(image.url, class:'l_rect fit_c'),image.url
    %p.on_card SAMPLE