%table.table
  %tr
    - client = '依頼者：' + @tx.nickname
    %td= icon(@tx.creator,'s_square rounded-circle fit_c') + client
  %tr
    - auth = '承認者：' + @rx.nickname
    %td= icon(@rx.creator,'s_square rounded-circle fit_c') + auth
  %tr
    %td.m_line= 'リクエスト内容：'
    %br= @work.request.msg
  %tr
    %td= "ファイル形式：#{@work.request.fmt}"
    - if @work.request.anon?
      %tr
        %td= '非公開:有'
    - if @work.request.auto?
      %tr
        %td= '宛名入りサイン:有'
  - if user_signed_in?
    - if @tx.id == current_user.id || @rx.id == current_user.id
      - relation = true
    - if relation || Rails.env.development?
      %tr
        %td= "金額：#{@work.request.money}円"
      %tr
        - num_days = @rx.creator.setting.work_d * 60 * 60 * 24
        - deadline = @work.request.created_at + num_days
        %td.m_line
          = "締め切り日：#{deadline.strftime('%Y/%m/%d %H:%M')}"
      %tr
        %td= "状態：#{@work.request.stts}"