- chars.each.with_index(1) do |char, index|
  - if char.thr.img? && index > start
    .ll_square.ml-4.mag_bm.text-center.m_font
      // = link_to image_tag(char.thr.img.thumb250.url,alt:char.c_name,
      // class: "full_rect fit_c border lazyload"),
      // char_path(char.thr.id)
      // = link_to image_tag(char.thr.img.thumb250.url,alt:char.c_name,
      // class: "full_rect fit_c border lazyload"),
      // char_path(char.thr.id)
      %a{href: char_path(char.thr.id)}
        %img.lazyload.full_rect.fit_c.border{alt: char.c_name,
        "data-src" => char.thr.img.thumb250.url}/
      = index.to_s + '位 ' + char.c_name.slice(0..8)
      - if 9 < char.c_name.length
        = '...'
      %br
      = char.ttl.genre
      = "#{char.ttl.t_name}".slice(0..8)
      - if 9 < char.ttl.t_name.length
        = '...'
    - break if times == index

