- content_for(:html_title) { '製作途中のイラストや漫画を晒す' }
%h1.ll_font.ws_bgc トップページ
.container-fluid
  .row#images.ws_bgc
    = render 'o_img', {ovrs: @ovrs, place: 'トップ'}
.container
  .row
    %h2.l_font 晒した後
  .row
    %h3.m_font 誰かに
  .row
    = render 'e_img', {expors: @expors, who: '誰かに'}
  .row.mt-5
    %h3.m_font 自分で(+5pt)
  .row
    = render 'e_img', {expors: @expors, who: '自分で'}
  .row.mt-5
    %h2.l_font 対応済
  .row.ss_m-side
    = render 'o_img', {ovrs: @ovrs, place: '対応済'}
  .row.mt-5
    %h2.l_font 作業中
  .row.ss_m-side
    = render 'o_img', {ovrs: @ovrs, place: '作業中'}
  .row.mt-5
    %h2.l_font 絵師、漫画家
  .row.ss_m-side
    = render 'c_img', {cres: @cres, is_hdr: true}
  .row
    %h2.l_font 依頼人
  .row.ss_m-side
    = render 'c_img', {cres: @cres, is_hdr: false}