- title = '人気キャラ　漫画　アニメ　イラスト'
- content_for(:html_title) { title }
%h1.ll_font.ws_bgc= title
// .container-fluid
//   .row#images.ws_bgc
//     = render 'o_img', {ovrs: @ovrs, place: 'トップ'}
.container
  .row
    %h2.l_font.ml-4 トレンド
  .row.my-2
    = button_to("2023年2月", root_path, method: :get,
    class:"btn btn-light l_font border ml-4")
  .row.my-2
    = button_to("商業, 二次創作", root_path, method: :get,
    class:"btn btn-light l_font border ml-4")
    = button_to("オリジナル", root_path, method: :get,
    class:"btn btn-light l_font border ml-4",:disabled => true)
  .row
    = button_to("外見", root_path, method: :get,
    class:"btn btn-light l_font border ml-4")
    = button_to("内面", ttls_path, method: :get,
    class:"btn btn-light l_font border ml-4",:disabled => true)
    = button_to("能力", ttls_path, method: :get,
    class:"btn btn-light l_font border ml-4",:disabled => true)
  .row
    %h3.ml-5.l_font ルックス
  .row.py-5.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(looks: 'DESC'),like:'looks'}
  .row
    %h3.mx-2.l_font 可愛さ
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(cute: 'DESC'),like:'cute'}
  .row
    %h3.mx-2.l_font カッコ良さ
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(cool: 'DESC'),like:'cool'}
  // .row
  //   %h5.mx-2.l_font.chara 性格
  // .row.py-5.mb-3.border.chara
  //   = render 'char_img',
  //   {chars: @char_thr_ttls.order(chara: 'DESC'),cha: @chars, like:'chara'}
  // .row
  //   %h5.mx-2.l_font.ablty 能力
  // .row.py-5.mb-3.border.ablty
  //   = render 'char_img',
  //   {chars: @char_thr_ttls.order(ablty: 'DESC'),cha: @chars, like:'ablty'}
  // .row
  //   %h5.mx-2.l_font.str 強さ
  // .row.py-5.mb-3.border.str
  //   = render 'char_img',
  //   {chars: @char_thr_ttls.order(str: 'DESC'),cha: @chars, like:'str'}
  // .row
  //   %h5.mx-2.l_font.ero エロさ
  // .row.py-5.mb-3.border.ero
  //   = render 'char_img',
  //   {chars: @char_thr_ttls.order(ero: 'DESC'),cha: @chars, like:'ero'}
  // %br
  // .row
  //   %h5.mx-2.l_font.funny 面白さ
  // .row.py-5.mb-3.border.funny
  //   = render 'char_img',
  //   {chars: @char_thr_ttls.order(funny: 'DESC'),cha: @chars, like:'funny'}
  .row
    %h3.l_font ↓好きな作品のキャラや、オリジナルキャラを追加しよう。
  .row
    = button_to("追加", ttls_path, method: :get,
    class:"ll_square btn btn-light l_font border ml-2")
    
  .row.mt-5
    %h2.l_font.mt-5 キャラデザ　1ページ漫画　リクエスト
  .row
    %h3.l_font 絵師、漫画家
  .row.ss_m-side
    = render 'c_img', {cres: @cres, is_hdr: true}
  // .row
  //   %h2.l_font='晒す(クリエータ向け)'
  // .row
  //   %h3.m_font 誰かに
  // .row
  //   = render 'e_img', {expors: @expors, who: '誰かに'}
  // .row.mt-5
  //   %h3.m_font 自分で
  // .row
  //   = render 'e_img', {expors: @expors, who: '自分で'}
  // .row.mt-5
  //   %h3.m_font 対応済
  // .row.ss_m-side
  //   = render 'o_img', {ovrs: @ovrs, place: '対応済'}
  // .row.mt-5
  //   %h3.m_font 作業中
  // .row.ss_m-side
  // = render 'o_img', {ovrs: @ovrs, place: '作業中'}
