- content_for(:html_title) { 'クリエイター紹介' }
%h1.color-whitesmoke クリエイター紹介

.container
  .row
    %h2 ■新着リクエスト作品
  .row
    - if @requests != nil
      - @requests.each do |request|
        .col3
          - if request.deliver_img? && request.status=='納品完了'
            = link_to image_tag(request.deliver_img.url, class: 'new'), "/requests/#{request.id}"
  .row
    %h2 ■クリエイター
  .row
    - begin
      - @creators.each do |creator|
        .col-md-auto
          - if creator.user.confirmed_at? #ユーザー認証済みの場合画像を表示
            = display_icon(creator, 'size-icon shape-round border-solid4 fit-cover color-steelblue')
            .text-center
              %span{:style => "font-size: 12px;"}= creator.user.nickname
    - rescue => e
      = p e
      