- title = '漫画　アニメ　イラスト　人気キャラ'
- content_for(:html_title) { title }
%h1.ll_font.ws_bgc= title
// .container-fluid
//   .row#images.ws_bgc
//     = render 'o_img', {ovrs: @ovrs, place: 'トップ'}
.container
  = render 'terms'
  .row
    %h2.l_font.ml-3 好きな理由
  .row
    %h3.ml-4.l_font ルックス
  .row.py-5.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(looks: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.m_font.text-right
    = link_to 'ルックス6位以下',home_path(1)
  .row
    %h3.ml-4.l_font.chara 性格
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(chara: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.m_font.text-right
    = link_to '性格6位以下',home_path(2)
  .row
    %h3.ml-4.l_font.ablty 能力
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(ablty: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.m_font.text-right
    = link_to '能力6位以下',home_path(3)
  .row
    %h3.l_font ↓好きな作品や、自分が描いたキャラを追加しよう。
  .row.ml-4.mb-4
    = button_to("追加", ttls_path, method: :get,
    class:"ll_square btn btn-light l_font border ml-2")
  .row
    %h3.ml-4.l_font.str 強さ
  .row.py-5.mb-3.border= render 'char_img',
    {chars: @char_thr_ttls.order(str: 'DESC'),cha: @chars, times:5, start:0}
  .mb-3.m_font.text-right
    = link_to '強さ6位以下',home_path(4)
  .row
    %h3.ml-4.l_font 可愛さ
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(cute: 'DESC'),cha: @chars, times:5, start:0}
  .mb-3.m_font.text-right
    = link_to '可愛さ6位以下',home_path(5)
  .row
    %h3.ml-4.l_font.ero エロさ
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(ero: 'DESC'),cha: @chars, times:5, start:0}
  .mb-3.m_font.text-right
    = link_to 'エロさ6位以下',home_path(6)
    
  .row
    %h2.l_font.mt-5 キャラデザや1ページ漫画を、気軽にリクエスト
  .row
    %h2.l_font 絵師、漫画家
  .row.ss_m-side
    = render 'cre_img', {cres: @cres, is_hdr: true}
  %br
  .row
    %h3.ml-4.l_font 面白さ
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(funny: 'DESC'),cha: @chars, times:5, start:0}
  .mb-3.m_font.text-right
    = link_to '面白さ6位以下',home_path(7)
  .row
    %h3.ml-4.l_font カッコ良さ
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(cool: 'DESC'),cha: @chars, times:5, start:0}
  .mb-3.m_font.text-right
    = link_to 'カッコ良さ6位以下',home_path(8)
  .row
    %h3.ml-4.l_font.sympa 共感する
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(sympa: 'DESC'),cha: @chars, times:5, start:0}
  .mb-3.m_font.text-right
    = link_to '共感する6位以下',home_path(9)
  
  // .row
  //   %h2.l_font='晒す(クリエータ向け)'
  // .row
  //   %h3.m_font 誰かに
  // .row
  //   = render 'e_img', {expors: @expors, who: '誰かに'}
  // .row.mt-5
  //   %h3.m_font 自分で
  // .row
  //   = render 'e_img', {expors: @expors, who: '自分で'}
  // .row.mt-5
  //   %h3.m_font 対応済
  // .row.ss_m-side
  //   = render 'o_img', {ovrs: @ovrs, place: '対応済'}
  // .row.mt-5
  //   %h3.m_font 作業中
  // .row.ss_m-side
  // = render 'o_img', {ovrs: @ovrs, place: '作業中'}
