- title = '漫画　アニメ　イラスト　評価とリクエスト'
- content_for(:html_title) { title }
%h1.ll_font.ws_bgc= title
.container
  = render 'terms'
  .row
    %h2.l_font.ml-3 好感度ランキング
  .row
    %h3.ml-4.l_font 人気キャラ
  .row.py-5.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(looks: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.m_font.text-right
    = link_to 'ルックス6位以下', home_path(1)
  .row
    %h3.ml-4.l_font.chara 作品
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(chara: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.m_font.text-right
    = link_to '性格6位以下',home_path(2)
  .row
    %h3.ml-4.l_font.ablty 著者
  .row.py-5.mb-3.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(ablty: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.m_font.text-right
    = link_to '能力6位以下',home_path(3)
  .row
    %h3.ml-4.l_font.str 企業
  .row.py-5.mb-3.border= render 'char_img',
    {chars: @char_thr_ttls.order(str: 'DESC'),cha: @chars, times:5, start:0}
  .mb-3.m_font.text-right
    = link_to '強さ6位以下',home_path(4)
  .row
    %h2.l_font 好きな作品に関する事や、自分が描いたキャラを追加しよう。(+5pt)
  .row.ml-4.mb-4
    = button_to("追加", ttls_path, method: :get,
    class:"ll_square btn btn-light l_font border ml-2")
  .row
    %h2.l_font.mt-5 イラストや1ページ漫画を、気軽にリクエスト
  .row
    %h3.l_font 絵師、漫画家
  .row.ss_m-side
    = render 'cre_img', {cres: @cres, is_hdr: true}
  %br
  