- content_for(:html_title) { 'イラストでコミュニケーション' }
%h1.ll_font.ws_bgc トップページ
.container
  - if Rails.env.development?
    .row
      %h2.l_font イラスト晒し
    .row.ss_m-side
      - exte = 'll_square fit_c m_s-border'
      = link_to image_tag('/img/mobu.png', class: exte), '/mangas/1/illustlifes'
    .row
      %h2.l_font 晒された作品
    .row.ss_m-side
      - if @expors
        - @expors.reverse_each.with_index(1) do |expor, index|
          .s_pdg.text-center.py-1
            - if expor.e_img?
              = link_to image_tag(expor.e_img.url, class: exte),
                expor_path(expor.id)
              .s_font.s_ind.text-center=expor.hope.to_s + 'する'
                
            - else
              = link_to(expor_path(expor.id)) do
                .ll_square.m_s-border= expor.gist
                  
          - break if 30 == index
  .row
    %h2.l_font クリエイター
  .row.ss_m-side
    - if @cres
      - @cres.each.with_index(1) do |cre, index| 
        - if (not cre.user.soft_destroyed?) && cre.user.confirmed_at?
          - if cre.hdr?
            .s_pdg.text-center.py-1
              = disp_hdr(cre, exte)
              .s_font.s_ind= cre.user.nick
              = icon(cre, 's_square on_hdr')
        - break if 30 == index
  .row
    %h2.l_font 依頼人
  .row.ss_m-side
    - if @cres
      - @cres.each.with_index(1) do |cre, index| 
        - if (not cre.user.soft_destroyed?) && cre.user.confirmed_at?
          - if not cre.hdr?
            .s_pdg.text-center.py-1
              = disp_hdr(cre, exte)
              .s_font.s_ind= cre.user.nick
              = icon(cre, 's_square on_hdr')
        - break if 30 == index