- content_for(:html_title) { 'クリエイター紹介' }
%h1.border_color-whitesmoke クリエイター紹介

.container
  .row
    %h2 ■新着作品
  .row
    - if nil != @requests
      - @requests.each do |request|
        .col3
          - if request.deliver_img? && request.status== '納品完了'
            = link_to image_tag(request.deliver_img.url, class: 'size-Xlarge-square fit-cover border-solid4'), "/requests/#{request.id}"
  .row
    %h2 ■クリエイター
  .row
    - begin
      - @creators.each do |creator|
        .col-auto.text-center
          - if creator.user.confirmed_at? #ユーザー認証済みの場合画像を表示
            = display_icon(creator, 'size-middle-square rounded-circle border-solid4 fit-cover border_color-steelblue')
            .font-small
              = creator.user.nickname
    - rescue => e
      - if (nil != creator.user) && (ENV['ADMINISTRATOR_MAIL'] == creator.user.email)
        = p e
      