- title = '漫画　アニメ　感想'
- content_for(:html_title) { title }
%h1.ll_font.ws_bgc= title
.container
  .row
    %h2.l_font.ml-3 作品
  .row
    - if @ttls
      - @ttls.each do |ttl|
        .ll_square.m_font.pb-5.my-5.mx-2.text-center
          = link_to image_tag(ttl.thr.img.thumb250.url,
          class:'full_rect fit_con'), ttl_path(ttl.id)
          = '['+ ttl.genre + ']'
          = ttl.t_name
          %br= ttl.pub
  .row.mt-5
    %h2.l_font.ml-3.mt-5 商業
  .row.d-flex.justify-content-center
    %button.btn.btn-light.l_font.border.mt-2= link_to '推す', ttls_path
  .row.d-flex.justify-content-center
    ='※ユーザ登録不要'
  .row
    %h3.ml-4.l_font ルックス
  .row.py-5.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(looks: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.mt-1.m_font.text-right
    = button_to("more", home_path(1), method: :get,
    class:"btn btn-light l_font border blk_col")
  .row
    %h3.ml-4.l_font　性格
  .row.py-5.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(chara: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.mt-1.m_font.text-right
    = button_to("more", home_path(2), method: :get,
    class:"btn btn-light l_font border blk_col")
  .row
    %h3.ml-4.l_font.chara 能力
  .row.py-5.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(ablty: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.mt-2.m_font.text-right
    = button_to("more", home_path(3) , method: :get,
    class:"btn btn-light l_font border blk_col")
  .row
    %h3.ml-4.l_font.chara 強さ
  .row.py-5.border
    = render 'char_img',
    {chars: @char_thr_ttls.order(str: 'DESC'),cha: @chars,times:5, start:0}
  .mb-3.mt-2.m_font.text-right
    = button_to("more", home_path(4) , method: :get,
    class:"btn btn-light l_font border blk_col")
  // .row
  //   %h2.l_font おすすめや、オリジナル作品を投稿して評価してもらう。(+5pt)
  // .row.ml-4.mb-4
  //   = button_to("追加", ttls_path, method: :get,
  //   class:"ll_square btn btn-light l_font border ml-2")
  
  .row
    %h2.l_font.mt-5 イラスト、1ページ漫画をリクエスト
  .row
    %h3.l_font イラストレーター、漫画家
  .row.ss_m-side
    = render 'cre_img', {cres: @cres, is_hdr: true}
  %br
  
  .row
    %h2.l_font.ml-3 新着-投稿作品
  .row.d-flex.justify-content-center
    / 投稿は、ユーザー登録が必要
    - if user_signed_in?
      - pass = "/psts/#{current_user.id}/new"
    - else
      - pass = "/psts/1/new"
    %button.btn.btn-light.l_font.border.mt-2= link_to '投稿する', pass
  .row
    %h3.ml-4.l_font 二次創作、オリジナル
  .row.py-5.border
    = render 'pst',{psts: @psts.order(updated_at: 'DESC')}
  