- title = '人気キャラ　6位以下'
- content_for(:html_title) { title }
%h1.ll_font.ws_bgc= title
.container
  - case params[:id]
  - when '1'
    .row
      %h3.ml-4.l_font ルックス
    .row.py-5.border
      = render 'char_img',
      {chars: @char_thr_ttls.order(looks: 'DESC'),times:100, start:5}
  - when '2'
    .row
      %h3.ml-4.l_font 性格
    .row.py-5.border
      = render 'char_img',
      {chars: @char_thr_ttls.order(chara: 'DESC'),times:100, start:5}
  - when '3'
    .row
      %h3.ml-4.l_font 能力
    .row.py-5.border
      = render 'char_img',
      {chars: @char_thr_ttls.order(ablty: 'DESC'),times:100, start:5}
  - when '4'
    .row
      %h3.ml-4.l_font 強さ
    .row.py-5.border
      = render 'char_img',
      {chars: @char_thr_ttls.order(str: 'DESC'),times:100, start:5}
  - when '5'
    .row
      %h3.ml-4.l_font 可愛さ
    .row.py-5.border
      = render 'char_img',
      {chars: @char_thr_ttls.order(cute: 'DESC'),times:100, start:5}
  - when '6'
    .row
      %h3.ml-4.l_font エロさ
    .row.py-5.border
      = render 'char_img',
      {chars: @char_thr_ttls.order(ero: 'DESC'),times:100, start:5}
  - when '7'
    .row
      %h3.ml-4.l_font 面白さ
    .row.py-5.border
      = render 'char_img',
      {chars: @char_thr_ttls.order(funny: 'DESC'),times:100, start:5}
  - when '8'
    .row
      %h3.ml-4.l_font カッコ良さ
    .row.py-5.border
      = render 'char_img',
      {chars: @char_thr_ttls.order(cool: 'DESC'),times:100, start:5}
  - when '9'
    .row
      %h3.ml-4.l_font 共感する
    .row.py-5.border
      = render 'char_img',
      {chars: @char_thr_ttls.order(sympa: 'DESC'),times:100, start:5}
  - else
    = 'err'