- content_for(:html_title) { 'イラスト付き利用説明' }
%h1.font-Xlarge.background_color-whitesmoke='イラスト付き利用説明 - 目次'

.container
  .row.my-5
    .col-3
      = image_tag('/img/character/ディフォ姫前面_ここはどこ.gif',
        class:'size_Xlarge-square')
    .col-6.block-baloon-left.position_midium-right.font-medium
      このサイトでは何ができますか？
  .row
    .col-1
    .col-6.block-baloon-right.font-medium
      このサイトでは、漫画やイラストの製作を、
      他のクリエーターの力を借りる事により、
      安価か無料で行えます。<br>
      詳しくは、以下のリンク先を参照してください。
      
    .col-3
      = image_tag('/img/character/リオ前面_説明.gif',
        class:'size_Xlarge-square')
        
  .row.my-5.border
    .col-1
    .col-6
      %h2 目次
      = link_to "このサイトでできる事", home_manual_path(1,3),
        class:"font-medium"
      %br
        = link_to "キャラクタデザイン機能", home_manual_path(1,2),
          class:"font-medium"
      = link_to "テスト版について", home_manual_path(1,1), class:"font-medium"
 