- content_for(:html_title) { 'イラスト付き利用説明' }
%h1.ll_font.ws_bgc='イラスト付き利用説明'

.container
  = render 'manuals/parts/index'
  
  - case params[:id]
  - when '1'
    = render 'manuals/parts/test'
  - when '2'
    = render 'manuals/parts/soloExhibition'
  - when '3'
    = render 'manuals/parts/site'
  - when '4'
    = render 'manuals/parts/comment'