- content_for(:html_title) { 'ご意見板' }
%h1.ll_font.ws_bgc ご意見板

.container
  
  - @expls.each do |expl|
    - adviser = User.find_by(id: expl.adv_id)
    
    / 投稿された意見達を表示
    .row.my-4
      .col-lg-3.d-flex.align-items-center
        = icon(adviser.cre, 'm_square')
        = adviser.nick
        
      .col-lg-auto.border.string_indention-large.s_s-pdg
        = expl.created_at.strftime('%Y/%m/%d %H:%M')
        %br
          = expl.a_msg
  
  / ボタンが押されたら、投稿フォームへ移動  
  .row.my-5
    .col-3
      = button_to '投稿', new_expl_path, method: :get