- content_for(:html_title) { '新規リクエスト' }
%h1.ll_font.ws_bgc 新規リクエスト
.container
  // クリエーターの情報を表示
  = render 'shared/user_hdr'
  
  // リクエスト票を表示
  .row.my-2
    .col-md-8.border.border-secondary.c_pos
      = form_with(model: @req, local: true) do |f|
        .form-group.mt-4
          = f.label :money, '推奨金額(円)'
          - csm = @cre.sttg.recom.to_s
          = f.text_field :money, class:'form-control l_font l_f-from',value: csm
          - i_range = @cre.sttg.min.to_s(:delimited) + '～￥99,999'
          = f.label :money, '入力範囲:￥' + i_range, class:'ss_font'
        .form-group.mt-4
          = f.label :msg, '本文(700文字以内)'
          = f.text_area :msg, autofocus: true, class:'form-control', size:'10x6'
        .form-group
          = f.label :fmt, 'ファイル形式:'
          = f.select :fmt, ['png', 'jpg', 'jpeg', 'gif']
          
          %br
          = f.check_box :anon ,{},checked_value="true", unchecked_value="false"
          = f.label :anon, '非公開'
          %br
          = f.check_box :auto ,{},checked_value="true", unchecked_value="false"
          = f.label :auto, '宛名入りサイン'
          %br
          = f.check_box :nsfw ,{},checked_value="true", unchecked_value="false"
          = f.label :nsfw, 'NSFW'
        %br
          - if params[:id].to_i == current_user.id.to_i
            - dis = 'btn btn-light ss_rect l_font disabled'
          - else
            - dis = 'btn btn-light ss_rect l_font'
          = f.submit 'リクエスト送信', class: dis
        %br/
        = hidden_field_tag :tx_id, params[:id]
      %div
        \-注意事項-<br>&nbsp
        以下の内容に同意される方のみリクエストを行ってください。<br>
        ・納品物の品質はクリエイターが決定する。
        納品後に不服申し立てを行わない。<br>
        ・商用利用する場合は用途を明記する。<br>
      %br