- content_for(:html_title) { 'ユーザー編集' }
%h1.ll_font.ws_bgc ユーザー編集
.container
  .row.my-5
    - item = '私の代表作（※クリエーターは必須）：'
    = render 'reg_img', {label:item, rec:'hdr'}
    .col
      = disp_hdr(@cre, 'm_rect fit_c')
  .row.my-5
    = render 'reg_img', {label:'アイコン：', rec:'icon'}
    = icon(@cre, 'm_square')
  .row.my-5
    = render 'cres/parts/acct.html'
  .row.my-5
    = 'リンク先：'
    %table.table
      = render 'reg_sns', {label:'twitter:', rec:'twtr'}
      = render 'reg_sns', {label:'pixiv:', rec:'pixiv'}
      = render 'reg_sns', {label:'instagram:', rec:'insta'}
      = render 'reg_sns', {label:'youtube:', rec:'yt'}
      = render 'reg_sns', {label:'link:', rec:'link'}
  .row.my-5
    = 'リクエスト受付：'
    = render 'recep'
  .row.my-5
    = '作業内容：'
    = render 'reg_days'
  .row.my-5
    = '稼業：'
    %table.table
      %tr
        %td
          = form_with(model: @sttg, local:true) do |f|
            = f.radio_button :job, :絵師
            = f.label :job, '絵師　'
            = f.radio_button :job, :漫画家
            = f.label :job, '漫画家　'
            = f.submit '変更'
  .row.my-5
    = '口座情報：'
    %table.table
      %tr
        - if @is_cr_all
          %td='銀行口座： xxxxxxxxxxx'
        - else
          %td='登録口座なし'
      %td
        = button_to '登録', cr_path, method: :get
  .row.my-5
    = 'クレジットカード：'
    %table.table
      %tr
        - if @card
          %td='カード番号： xxxx-xxxx-xxxx-xxxx'
        - else
          %td='登録カードなし'
      %td
        = button_to '登録', new_card_path, method: :get,
        data: {"turbolinks" => false}
  .row.my-5
    = '再開通知リスト：'
    %table.table
      %tr
        %td
          = button_to 'リスト表示', resm_path, method: :get