- content_for(:html_title) { 'ユーザー編集' }
%h1.ll_font.ws_bgc ユーザー編集
.container
  .row.my-5
    = form_with(model: @cre, local:true) do |f|
      = f.label :hdr, '私の代表作（※クリエーターは必須）：'
      = f.file_field :hdr
      = f.submit '登録'
    .col
      = disp_hdr(@cre, 'm_rect fit_c')
  .row.my-5
    = form_with(model: @cre, local:true) do |f|
      = f.label :icon, 'アイコン：'
      = f.file_field :icon
      = f.submit '登録'
    = icon(@cre, 'm_square')
  .row.my-5
    = 'アカウント情報：'
    %table.table
      %tr
        %td="Eメール：#{@cre.user.email}"
      %tr
        %td="ニックネーム：#{@cre.user.nick}"
      %tr
        %td='在籍 or 退会：在籍'
      %td
        = button_to '変更', edit_user_registration_path, method: :get
  .row.my-5
    = 'リンク先：'
    %table.table
      %tr
        %td
          = form_with(model: @cre, local:true) do |f|
            = f.label :twtr, 'twitter:'
            = f.text_field :twtr, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @cre, local:true) do |f|
            = f.label :pixiv, 'pixiv:'
            = f.text_field :pixiv, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @cre, local:true) do |f|
            = f.label :insta, 'instagram:'
            = f.text_field :insta, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @cre, local:true) do |f|
            = f.label :yt, 'youtube:'
            = f.text_field :yt, class:'size_variable-form'
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @cre, local:true) do |f|
            = f.label :link, '他リンク先:'
            = f.text_field :link, class:'size_variable-form'
            = f.submit '登録'
  .row.my-5
    = 'リクエスト受付内容：'
    %table.table
      %tr
        %td
          = form_with(model: @sttg, local:true) do |f|
            = f.label :recom, '推奨金額(円):'
            = f.text_field :recom
            = f.label :min, '最低金額(円):'
            = f.text_field :min
            = f.submit '登録'
      %tr
        %td
          = form_with(model: @sttg, local:true) do |f|
            = f.label :start, 'リクエスト受付:'
            // @crの値がnilかfailsでなく、口座情報の値が全て埋まっている場合
            - if @is_cr_all || ('development' == ENV['RAILS_ENV'])
            
              - if true != @sttg.start
                = f.hidden_field :start, value:true
                = f.submit '開始', :name => 'acept_req'
              - else
                = f.hidden_field :start, value:false
                = f.submit '停止'
            - else
              %button{:disabled => "disabled", :type => "submit"}='開始'
              = '※報酬受取先の口座登録が事前に必要です'
  .row.my-5
    = '作業予定日数：'
    %table.table
      %tr
        %td
          = form_with(model: @sttg, local:true) do |f|
            = f.label :work_d, '作業予定日数(日)：'
            = f.text_field :work_d, :size => '5'
            = f.submit '変更'
  .row.my-5
    = '口座情報：'
    %table.table
      %tr
        - if @is_cr_all
          %td='銀行口座： xxxxxxxxxxx'
        - else
          %td='登録口座なし'
      %td
        = button_to '登録', cr_path, method: :get
  .row.my-5
    = 'クレジットカード：'
    %table.table
      %tr
        - if @card
          %td='カード番号： xxxx-xxxx-xxxx-xxxx'
        - else
          %td='登録カードなし'
      %td
        = button_to '登録', new_card_path, method: :get,
        data: {"turbolinks" => false}
  .row.my-5
    = '再開通知リスト：'
    %table.table
      %tr
        %td
          = button_to 'リスト表示', resm_path, method: :get