- content_for(:html_title) { 'クリエーター情報' }
%h1.ll_font.ws_bgc クリエーター情報
.container
  = render 'shared/user_hdr'
  .row
    %h2.l_font 晒した作品
  .row
    - if @expors
      - @expors.reverse_each do |expor|
        - if expor.e_img?
          .s_pdg.text-center.py-1
            = link_to image_tag(expor.e_img.url,
            class:'m_f_rect fit_con ws_bgc border'),"/expors/#{expor.id}"
        - else
          = link_to("/expors/#{expor.id}") do
            .ll_square.border
              %br=expor.kind.to_s + ':'
              = Msg.find_by(id: expor.msg_id).s_msg
    - else
      = 'なし'
  - if not @reqs.blank?
    .row
      %h2.l_font リクエスト作品
    .row
      - @reqs.reverse_each do |req|
        .col3.m-2
          - if not req.work.images[0].blank?
            = link_to image_tag(req.work.images[0].url,
            class:'ll_square fit_c m_s-border'),"/works/#{req.work.req_id}"
          - else
            .alert.alert-dismissable.alert-danger
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              %p="req_id#{work.req_id}の画像が見つかりません"
