- content_for(:html_title) { "#{@cre.sttg.job}:#{@cre.user.nick}" }
%h1.ll_font.ws_bgc= "#{@cre.sttg.job} : #{@cre.user.nick}"
.container
  = render 'shared/user_hdr'
  - if not @expors.blank?
    .row
      %h2.l_font 晒した作品
    .row
      - @expors.reverse_each do |expor|
        - e_ovr = Ovr.find_by(expor_id: expor.id)
        - if ("キャラデザ,背景デザ,プロット").include?(expor.kind)
          - if not e_ovr
            = link_to("/expors/#{expor.id}") do
              .ll_square.border.mx-1.my-3
                .p-3.m_line.pre_wrap.blk_col.m_font.text-left
                  = Msg.find_by(id:expor.msg_id).s_msg.gsub(/[\n]/,
                  "\n").slice(0..80) + '...'
          - else
            = link_to("/expors/#{expor.id}/ovrs/#{e_ovr.id}") do
              .ll_square.border.mx-1.my-3.hdn_over
                .p-3.m_line.pre_wrap.blk_col.m_font.text-left
                  = Msg.find_by(id:expor.msg_id).s_msg.gsub(/[\n]/,
                  "\n").slice(0..80) + '...'
        - else
          .ll_square.border.ws_bgc.m_font.text-center.mx-1.my-3
            - if not e_ovr
              = link_to image_tag(expor.e_img.url,
              class:'ll_square fit_con'),"/expors/#{expor.id}"
            - else
              = link_to image_tag(expor.e_img.url,
              class:'ll_square fit_con'),
              "/expors/#{expor.id}/ovrs/#{e_ovr.id}"
  - if not @ovrs.blank?
    .row
      %h2.l_font 協力した作品
    .row
      - @ovrs.reverse_each do |ovr|
        - if ovr.o_img? && ovr.up_id != params[:id].to_i
          .m-1
            = link_to image_tag(ovr.o_img.url,
            class:'ll_square fit_con ws_bgc border'),
            "/expors/#{ovr.expor_id}/ovrs/#{ovr.id}"
  - if not @reqs.blank?
    .row
      %h2.l_font リクエスト作品
    .row
      - @reqs.reverse_each do |req|
        .col3.m-2
          - if not req.work.images[0].blank?
            = link_to image_tag(req.work.images[0].url,
            class:'ll_square fit_c m_s-border'),"/works/#{req.work.req_id}"
          - else
            .alert.alert-dismissable.alert-danger
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              %p="req_id#{work.req_id}の画像が見つかりません"
