/ Googleアナリティクス　解析コード
%script{:async => "", 
  :src => "https://www.googletagmanager.com/gtag/js?id=G-QJ06SMJ2Y5"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-QJ06SMJ2Y5');
  
/ メタ情報
%meta{:charset => "UTF-8"}/
%meta{:content => "width=device-width",:name => "viewport"}/
%title
  = content_for?(:html_title) ? yield(:html_title) : ""
  ｜イラストライフ
%meta{:content => "イラストのみを使ってコミュニケーション。
  好きなクリエーターに作品をリクエスト。", :name => "description"}/
  
/ 外部システム利用
%link{:crossorigin => "anonymous",
  :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css",
  :integrity => "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk",
  :rel => "stylesheet"}/
%script{src: "https://js.pay.jp/v2/pay.js"}
%link{:href => "https://fonts.googleapis.com", :rel => "preconnect",
  :crossorigin => "",
  :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
%link{:href => "https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Kosugi+Maru&family=Potta+One&family=Yomogi&display=swap",
  :rel => "stylesheet"}/
  
/ JavaScript環境設定
= include_gon
= stylesheet_link_tag 'application',media:'all','data-turbolinks-track':'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

/ slickライブラリ利用
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css",
  :rel => "stylesheet", :type => "text/css"}/
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css",
  :rel => "stylesheet", :type => "text/css"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js",
  :type => "text/javascript"}
  
/ CSRFとコンテンツセキュリティポリシー対策
= csrf_meta_tags
= csp_meta_tag

/ homesとmanualsのページ以外は、google検索に表示しない
- if 'homes' != controller.controller_name
  - if 'manuals' != controller.controller_name
    %meta{:content => "noindex", :name => "robots"}/