%header
  .container-fluid
    / ヘッダー部を表示
    .row
      / シンボルマークを表示
      .col-auto.d-flex.align-items-center
        = link_to image_tag('/img/symbol.png', class: 's_square'), root_path
      / サービス名を表示
      .col-auto
        %span.ll_font
          %strong イラストライフ
      / キャッチコピーを表示    
      .col-xs.d-flex.align-items-center
        // %strong ～ イラスト制作をサポート ～
      .col.text-right
        - if user_signed_in?
          / ポイント表示
          - if 'cres' == controller.controller_name
            - if 'show' == controller.action_name
              ="#{current_user.cre.pfm.point}ポイント"
          / ログインユーザーアイコン表示    
          = icon(current_user.cre, 's_square')
        - else
          -# ='キャンペーン!! 9/1～9/16迄'
          -#  %br= '新規登録者様に、1000ポイントプレゼント!!'
    / メニューボタンを表示
    .row
      .col.text-right
        - if user_signed_in?
          - if 'cres' == controller.controller_name
            - page_path = request.path.split('/')
            - if (current_user.id == page_path[2].to_i)
              %button.btn.btn-light.m-font= link_to 'リクエスト状態',
                reqs_path
              - if 'earning' != controller.action_name
                %button.btn.btn-light.m-font
                  = link_to '売上', "/cres/#{current_user.id}/earning"
              - if ENV['ADMIN'] == current_user.email
                %button.btn.btn-light
                  = link_to 'アカウント編集', edit_cre_path(params[:id])
              - elsif 'edit' != controller.action_name
                %button.btn.btn-light.m-font
                  = link_to '設定',
                  edit_cre_path(current_user.id)
              %button.btn.btn-light.m-font
                = link_to 'ログアウト',
                destroy_user_session_path, method: "delete"
        - else
          %button.btn.btn-light.m-font
            = link_to '新規登録', new_user_registration_path
          %button.btn.btn-light.m-font
            = link_to 'ログイン', new_user_session_path