- title="キャラデータ：#{@char.c_name},　#{@char.ttl.genre}「#{@char.ttl.t_name} 」"
- content_for(:html_title) { title }
%h1.ll_font.ws_bgc
  = title
.container
  .row.my-1
    .col1
    - if @thr.img?
      = image_tag(@thr.img.thumb640.url,
      class: 'll_square full_rect fit_c border rounded-circle')
    .col
      .l_font='引用先'
      %table.table
        %thead
          %tr
            %td 
            %td 
        %tbody
          %tr
            %td 著者
            %td= @char.ttl.auth
          %tr
            %td 発行元
            %td= @char.ttl.pub
          %tr
            %td URL
            %td= link_to @char.ttl.thr.url.slice(0..25) + '...',
              @char.ttl.thr.url
      
      
  .row
    %h2.l_font= '好感度グラフ'
    - data = [['ルックス', @char.looks],['性格', @char.chara],
    ['能力',@char.ablty],['強さ', @char.str],['可愛さ', @char.cute],
    ['エロさ', @char.ero],['面白さ', @char.funny],['カッコ良さ', @char.cool]]
    = column_chart data
  .row
    %h2.l_font= '好きな理由'
  .row
    = form_with(model: @char, local:true) do |f|
      = f.radio_button :cause, :'ルックス'
      = f.label :cause, 'ルックス'
      = f.radio_button :cause, :'性格'
      = f.label :cause, '性格'
      = f.radio_button :cause, :'能力'
      = f.label :cause, '能力'
      = f.radio_button :cause, :'強さ'
      = f.label :cause, '強さ'
      = f.radio_button :cause, :'可愛さ'
      = f.label :cause, '可愛さ'
      = f.radio_button :cause, :'エロさ'
      = f.label :cause, 'エロさ'
      = f.radio_button :cause, :'面白さ'
      = f.label :cause, '面白さ'
      = f.radio_button :cause, :'カッコ良さ'
      = f.label :cause, 'カッコ良さ'
      - is_owner = (user_signed_in? && current_user.email == 'operation@illustlife.sakura.ne.jp')
      - if true == @is_vaild || true == is_owner
        = f.submit '送信', class:"btn btn-light l_font border my-5 ss_rect"
      - else
        = f.submit '送信済み',
        class:"btn btn-light l_font border my-5 ss_rect blu_col disabled"
        ='※ボタンは24時間後に復活します'