/ 表体を表示
.row
  / セル幅を「table全幅/セル数」に
  - d_turbo = "data-turbolinks"
  %table.table.fixed_col
    %tr
      / セルからはみ出した文字を隠す
      %td.hdn_over= "#{@expor.kind}"
      - if 'キャラ・背景デザ(文字)' == @expor.kind
        - msg = Msg.find_by(id: @expor.msg_id).s_msg.slice(0,5) + '...'
        %td= msg
      - else
        %td.hdn_over= image_tag(@expor.e_img.url, class:'ss_rect fit_con')
        
      %td.hdn_over= "#{@expor.hope}"
      %td.hdn_over= "#{@expor.who}"
      - if '自分で' == @expor.who
        - worker = User.find_by(id: @expor.user_id).nick
        %td.hdn_over= worker
      - else
        - ovr = Ovr.find_by(expor_id:@expor.id)
        - if ovr
          %td.hdn_over
            - collab = User.find_by(id: ovr.up_id)
            = link_to collab.nick, cre_path(collab.cre.user_id)
        - else
          %td.hdn_over= '募集中'
      %td.hdn_over= "#{@expor.e_dl}"
      %td.hdn_over= "#{@expor.fee}"
      %td
        %button.btn.btn-light.m_font{d_turbo => "false"}= link_to '編集',
        edit_expor_path(@expor.id)
        %button.btn.btn-light.m_font= link_to '削除', expor_path(@expor.id),
        method: :delete