%p
  ようこそ #{@user.nick}さん!
%p 以下のリンク先からメール認証を完了できます。
%p= link_to 'メール認証先リンク', confirmation_url(@resource, confirmation_token: @token)
%p
  覚えがないのにこのメールが届いたという方は<br>
  大変お手数ですが、下記メールアドレスまで<br>
  ご連絡をお願いいたします。
  %br/
%p ――――――――――――――――――――――――――――――
= ENV['APP_NAME']
運営局
%br/
URL ： 
= ENV['HOME_ADDRESS']
%br/
Mail ：
= ENV['ADMIN']
%br/
%p ――――――――――――――――――――――――――――――