%p ※このメールは自動送信メールです。
%p
  = @resource.nickname
  様
%p
  = ENV['APP_NAME']
  運営局でございます。
  
- if @resource.try(:unconfirmed_email?)
  %p メールアドレスが
  = @resource.unconfirmed_email
  %p に変更された事をお知らせします。

- else
  %p メールアドレスが
  = @resource.email
  %p に変更された事をお知らせします。

%p
  覚えがないのにこのメールが届いたという方は<br>
  大変お手数ですが、下記メールアドレスまで<br>
  ご連絡をお願いいたします。
  %br/
%p ――――――――――――――――――――――――――――――
= ENV['APP_NAME']
運営局
%br/
URL ： 
= ENV['HOME_ADDRESS']
%br/
Mail ：
= ENV['ADMINISTRATOR_MAIL']
%br/
%p ――――――――――――――――――――――――――――――
