%p ※このメールは自動送信メールです。
%p
  = @resource.nickname
  様
%p
  = ENV['APP_NAME']
  運営局でございます。
  
%p パスワード変更設定が要求されました。以下のリンク先より設定可能です。

%p= link_to 'パスワード変更',
  edit_password_url(@resource, reset_password_token: @token)

%p 今後ともよろしくお願いいたします。

%p
  覚えがないのにこのメールが届いたという方は<br>
  大変お手数ですが、下記メールアドレスまで<br>
  ご連絡をお願いいたします。
  %br/
%p ――――――――――――――――――――――――――――――
= ENV['APP_NAME']
運営局
%br/
URL ： 
= ENV['HOME_ADDRESS']
%br/
Mail ：
= ENV['ADMIN']
%br/
%p ――――――――――――――――――――――――――――――
