
%h2.l_font='晒す機能'
.row.my-5
  .col-3
    = image_tag('/img/character/ディフォ姫前面_疑問.png',
      class:'ll_square')
  .col-6.block-baloon-left.m_rr-pos.m_font
    晒す機能？
.row
  .col-1
  .col-6.block-baloon-right.m_font
    晒す機能の役割は2つ<br>
    ・製作途中の作品を晒して、ポイントを得られる。<br>
    ・ポイントを謝礼として、力を貸してもらえる。
    例えば..
  .col-3
    = image_tag('/img/character/リオ前面_どうぞ.png', 
      class:'ll_square')
.row.my-5.c_pos
  .col-3.d-flex.align-items-center.m_font
    = "キャラデザ:女の子、色白、着物。謝礼2000ポイント"
  .col-2.d-flex.align-items-center
    = image_tag('/img/sign/矢印.png', class:'s_square')
  .col-3.d-flex.align-items-center
    = image_tag('/img/sign/emi.png', class:'ll_square')
    .s_font.s_line= '納品'

