- content_for(:html_title) { 'イラスト付き利用説明' }
%h1.ll_font.ws_bgc='イラスト付き利用説明'
.container
  / 目次
  = render 'index'
  - case params[:id]
    - when '1'
      = render 'site'
    - when '2'
      = render 'expose'
    - when '3'
      = render 'test'
    - when '4'
      = render 'cmt'