- content_for(:html_title) { '次の工程' }
%h1.ll_font.ws_bgc="希望：　#{@expor.kind}　⇒　#{@expor.hope}"
- up_cre = Cre.find_by(user_id:@expor.user_id)
.container
  .row.my-2
    %h2.l_font= @expor.kind
  .row
    =icon(up_cre,'ss_square')
    =up_cre.user.nick
  .row.my-5
    - if @expor.e_img?
      = image_tag(@expor.e_img.url, class:'l_f_rect fit_con ws_bgc')
    - else
      .m_rect.border.over
        = Msg.find_by(id: @expor.msg_id).s_msg
  .row.mt-5
    = button_to('ダウンロード',download_expor_ovrs_path(@expor.id),
    {method: :get, class:"btn btn-light",params:{expor_id: params[:id]}})
  .row.my-2
    = '※著作権はダウンロードファイル提供者に帰属します。'
    
  .row.mt-4
    %h2.l_font= @expor.hope
  .row
    = form_with(model: @ovr,url: expor_ovrs_path, local:true) do |f|
      = f.label :o_img, @expor.hope + 'のファイルを選択:',
      class:'o_img btn btn-light my-5'
      = f.file_field :o_img,class:'o_img preview-uploader',style:"display:none;"
      .o_img.ws_bgc.l_f_rect.fit_con
      = f.hidden_field :expor_id, :value => @expor.id
      - if user_signed_in?
        = f.hidden_field :up_id, :value => current_user.id
      = hidden_field_tag :expor_id, @expor.id
      = f.submit 'アップロード', class:"btn btn-light mt-5"
  .row.my-2
    = '※私的利用(SNSに上げる等)は許可するものとします。'
    