- up_usr = User.find_by(id:@expor.user_id)
- down_usr = User.find_by(id:@ovr.up_id)
- title="#{up_usr.nick}:#{@expor.kind}⇒#{@expor.who}#{@expor.hope}"
- content_for(:html_title) { title }

%h1.ll_font.ws_bgc= title
%br
.container
  .row.my-2
    %h2.l_font= @expor.kind
  .row.my-5
    - if ("キャラデザ,背景デザ,プロット").include?(@expor.kind)|| (not @expor.e_img?)
      .l_line.lll_square.border.over.pre_wrap.p-3
        = Msg.find_by(id: @expor.msg_id).s_msg.gsub(/[\n]/,"\n")
    - else
      = image_tag(@expor.e_img.url, class:'lll_square fit_con ws_bgc')
  .row.mt-3
    .col-1.text-center
      = icon(up_usr.cre,'ss_square')
      = up_usr.nick
    .l_f-from.block-baloon-left.left_pos= @expor.cmt
  .row.my-5
    .l_font= '↓'
  .row.my-2
    %h2.l_font= @expor.hope
  .row.my-5
    .col5
      - if @ovr.o_img?
        = image_tag(@ovr.o_img.url, class:'lll_square fit_con ws_bgc')
      - else
        .l_font='　作業中'
  .row.text-center
    .col-1.text-center
      = icon(down_usr.cre, 'ss_square')
      = down_usr.nick
