<!DOCTYPE html>

<!DOCTYPE html>
<html >
<head>

  
</head>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
    <title>イラストライフ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <div class="display-3">
      <%= link_to "イラストライフ", home_index_path, method: "get" %>
      <span style="font-size: 18px;">～好きな事だけで自由に生きる</span><br>
      <span style="font-size: 24px;">1回6000円以下3日以内のインスタンスなイラスト依頼</span>
    </div> 
    <div class="container">
      <% if user_signed_in? %>
        <div class="right">
          <div class="h3">
            <button type="button" class="btn btn-light"><%= link_to "ユーザー情報","/user/show/id" %></button>
            <button type="button" class="btn btn-light"><%= link_to "ユーザー編集", edit_user_registration_path, method: "get" %></button>
            <button type="button" class="btn btn-light"><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %></button>
          </div>
        </div>
      <% else %>
        <div class="right">
          <div class="h3">
            <button type="button" class="btn btn-light"><%= link_to "新規登録", new_user_registration_path, method: "get" %></button>
            <button type="button" class="btn btn-light"><%= link_to "ログイン\n", new_user_session_path, method: "get" %></button>
          </div>
        </div>
      <% end %>
    </div>
  </head>

  <body>
    <%# フラッシュ追加%>
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= notice %></p>
      </div>
    <% end %>
  
    <% if alert.present? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
