<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    
    <title><%= content_for?(:html_title) ? yield(:html_title) : "" %> ｜ イラスト、3DCG、写真をリクエスト | イラストライフ株式会社</title>
    
    <!--integrity:html検証,crossorigin:ユーザー認証情報anonymous(不要)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      
    <script src="https://js.pay.jp/" type="text/javascript"></script> 
    
    <!--googleフォント設定-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Kosugi+Maru&family=Potta+One&family=Yomogi&display=swap" rel="stylesheet">
      
    <!--Railsの組み込み関数stylesheet_link_tag を使って、application.css.scssをすべてのファイルで読み込んでいる-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--jQuery設定-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--クロスサイトリクエストフォージェリー対策-->
    <%= csrf_meta_tags %>
    
    <!--コンテンツセキュリティポリシーの適用-->
    <%= csp_meta_tag %>
  </head>
  
  <header>
    <div class="container-fluid">
      
      <div class="row">
        
        <div class="col-md-auto">
          <%= link_to image_tag('/img/symbol.png', class: 'favicon'), home_index_path %>
        </div>
        
        <div class="col-md-auto">
          <span class="x-large"><strong>イラスト</strong>ライフ</span>
          <span class="x-small">
            <% if Rails.env.development? %>
              <%= link_to '(テスト版)', tests_path %>
            <% else %>
              <%= "テスト版" %>
            <% end %>
          </span>
        </div>
        
      </div>
      
      <div class="row">
        <span class="large"><strong>&emsp;イラスト</strong>、<strong>3DCG</strong>、<strong>写真</strong>を<strong>リクエスト</strong></span>
      </div>
      
      <div class="row">
        <div class="col right">
          <% if user_signed_in? %>
            <button type="button" class="btn btn-light"><%= link_to "リクエスト状態","/requests" %></button>
            <button type="button" class="btn btn-light"><%= link_to "ユーザー情報","/creators/#{@user.id}" %></button>
            <button type="button" class="btn btn-light"><%= link_to "ユーザー編集", "/creators/#{@user.id}/edit" %></button>
            <button type="button" class="btn btn-light"><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %></button>
          <% else %>
            <button type="button" class="btn btn-light"><%= link_to "新規登録", new_user_registration_path, method: "get" %></button>
            <button type="button" class="btn btn-light"><%= link_to "ログイン\n", new_user_session_path, method: "get" %></button>
          <% end %>
        </div>
      </div>
      
    </div>
  </header>
  
  <body>
    <% if (Rails.env.production?) && (controller.controller_name != "cards") && (controller.controller_name != "registrations") %>
      <script src="//accaii.com/orino/script.js" async></script><noscript><img src="//accaii.com/orino/script?guid=on"></noscript>
    <% end %>
    
    <div class="container-fluid">
      <%# フラッシュ追加%>
      <% if notice.present? %>
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= notice %></p>
        </div>
      <% end %>
    
      <% if alert.present? %>
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body> 
  
  <footer class="footer">
    <div class="container-fluid">
      <div class="row mx-5 my-3">
        <div class="mx-3"><%= link_to '利用規約', explanations_terms_path %></div>
        <div class="mx-3"><%= link_to 'プライバシーポリシー', explanations_policy_path %></div>
        <div class="mx-3"><%= link_to '特定商取引法に基づく表記', explanations_transaction_law_path %></div>
      </div>
      <div class="row mx-5 my-2">
        <div class="col-12 clearfix">
          <div class="float-right"><p>© 2021-2022 イラストライフ株式会社</p></div>
        </div>
      </div>
    </div>
  </footer>
</html>
