!!!
%html
  %head
    / Googleアナリティクス
    = render 'layouts/parts/google'
    
    / メタ情報
    = render 'layouts/parts/meta'
    
    / bootstrap
    = render 'layouts/parts/bs'

    / 外部システム利用
    = render 'layouts/parts/ext'
    
    / js環境設定
    = render 'layouts/parts/js_conf'
    
    / js
    = render 'layouts/parts/js'
    
    /  CSRF対策とgoogle検索除外設定
    = render 'layouts/parts/head'
  %body
    / ヘッダー
    = render 'layouts/parts/header'
    
    / accaiiアクセス解析
    = render 'layouts/parts/accaii'
        
    / 通知表示
    = render 'layouts/parts/noti'
        
    / ボディ
    = render 'layouts/parts/body'
    
    / フッダー
    = render 'layouts/parts/footer'