!!!
%html
  %head
    / ページの設定
    = render 'layouts/perts/head'
  %body
    / ヘッダーの内容を表示
    = render 'layouts/perts/header'
    
    
    / アクセス解析          
    - if Rails.env.production?
      %script{:async => "", :src => '//accaii.com/orino/script.js'}
      %noscript
        %img{:src => '//accaii.com/orino/script?guid=on'}/
        
    / 通知表示
    - if notice.present?
      .alert.alert-dismissable.alert-success
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = notice
    - if alert.present?
      .alert.alert-dismissable.alert-danger
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = alert
        
    / ボディの内容を表示
    = yield
    
    / フッダーの内容を表示
    = render 'layouts/perts/footer'