<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    
    <!--integrity:html検証,crossorigin:ユーザー認証情報anonymous(不要)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--googleフォント設定-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Kosugi+Maru&family=Potta+One&family=Yomogi&display=swap" rel="stylesheet">
      
    <!--Railsの組み込み関数stylesheet_link_tag を使って、application.css.scssをすべてのファイルで読み込んでいる-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--jQuery設定-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--クロスサイトリクエストフォージェリー対策-->
    <%= csrf_meta_tags %>
    
    <!--コンテンツセキュリティポリシーの適用-->
    <%= csp_meta_tag %>
    
    <title>イラストライフ</title>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  </head>
  
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-auto">
          <%= link_to image_tag('/img/symbol.png',class: 'favicon'),  home_index_path %>
        </div>
        <div class="col-md-auto">
          <span style="font-size: 2.5em;">イラストライフ</span><span style="font-size: 0.1em;">(テスト版)</span>
        </div>
      </div>
      <div class="row">
        <!-- 左寄せ -->
        <div class="col-12 clearfix">
          <div class="float-left test-box"><span style="font-size: 1.2em;">1回8千円以下納品4日以内のインスタンスなイラスト&CG依頼</span></div>
        </div>
      </div>
      
      <div class="row">
        <!-- 右寄せ -->
        <div class="col-12 clearfix">
          <div class="float-right test-box">
            <% if user_signed_in? %>
              <div class="right">
                <button type="button" class="btn btn-light">
                  <%= link_to "リクエスト状態","/requests/#{@user.id}" %>
                </button>
                <button type="button" class="btn btn-light">
                  <%= link_to "ユーザー情報","/creators/#{@user.id}" %>
                </button>
                <button type="button" class="btn btn-light">
                  <%= link_to "ユーザー編集", "/creators/#{@user.id}/edit" %>
                </button>
                <button type="button" class="btn btn-light">
                  <%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>
                </button>
              </div>
            <% else %>
              <div class="right">
                <button type="button" class="btn btn-light">
                  <%= link_to "新規登録", new_user_registration_path, method: "get" %>
                </button>
                <button type="button" class="btn btn-light">
                  <%= link_to "ログイン\n", new_user_session_path, method: "get" %>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <body>
    <% if Rails.env.production? %>
      <script src="//accaii.com/orino/script.js" async></script><noscript><img src="//accaii.com/orino/script?guid=on"></noscript>
    <% end %>
    
    <div class="container-fluid">
      <%# フラッシュ追加%>
      <% if notice.present? %>
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= notice %></p>
        </div>
      <% end %>
    
      <% if alert.present? %>
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body> 
  
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 clearfix">
          <%= link_to '利用規約', explanations_show_path %>
          <%= link_to 'プライバシーポリシー', explanations_policy_path %>
          
        </div>
      </div>
      <div class="row">
        <div class="col-12 clearfix">
          <p>© イラストライフ株式会社</p>
        </div>
      </div>
    </div>
  </footer>
</html>
