!!!
%html
  %head
    / Googleアナリティクス
    = render 'layouts/parts/google'
    / メタ情報
    = render 'layouts/parts/meta'
    
    / turbolinks
    = render 'layouts/parts/turbo'
    / bootstrap
    = render 'layouts/parts/bs'
    / js
    = render 'layouts/parts/js'
    /  CSRFとgoogle検索除外
    = render 'layouts/parts/head'
  %body
    / ヘッダー
    = render 'layouts/parts/header'
    / accaiiアクセス解析
    = render 'layouts/parts/accaii'
    / 通知表示
    = render 'layouts/parts/noti'
    / ボディ
    = render 'layouts/parts/body'
    / フッダー
    = render 'layouts/parts/footer'