!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8", :content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      = content_for?(:html_title) ? yield(:html_title) : ""
      ｜ イラストや写真をリクエスト | イラストライフ株式会社
    / integrity:html検証,crossorigin:ユーザー認証情報anonymous(不要)
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", :integrity => "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", :rel => "stylesheet"}/
    %script{:src => "https://js.pay.jp/", :type => "text/javascript"}
    / googleフォント設定
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Kosugi+Maru&family=Potta+One&family=Yomogi&display=swap", :rel => "stylesheet"}/
    / Railsの組み込み関数stylesheet_link_tag を使って、application.css.scssをすべてのファイルで読み込んでいる
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    / jQuery設定
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / クロスサイトリクエストフォージェリー対策
    = csrf_meta_tags
    / コンテンツセキュリティポリシーの適用
    = csp_meta_tag
    
  %body
    %header
      .container-fluid
        .row
          .col-auto
            = link_to image_tag('/img/symbol.png', class: 'size-small-square'), homes_path
          .col-m0-auto
            %span.font-Xlarge
              %strong イラストライフ
          .col-sm.d-flex.align-items-center
            %strong ～イラスト、3Dモデリング、写真をリクエスト～
          .col.text-right
            - if user_signed_in?
              = current_user.nickname + 'さん'
              = display_icon(current_user.creator, 'size-small-square rounded-circle fit-cover')
        .row
          .col.text-right
            - if user_signed_in?
              %button.btn.btn-light= link_to 'リクエスト状態', requests_path
              - if (ENV['ADMINISTRATOR_MAIL'] == current_user.email) && (controller.controller_name == "creators") && (controller.action_name == 'show')
                %button.btn.btn-light= link_to 'アカウント編集', edit_creator_path(params[:id])
              - else
                - if controller.action_name == 'show'
                  %button.btn.btn-light= link_to 'ユーザー編集', edit_creator_path(current_user.id)
              %button.btn.btn-light= link_to 'ログアウト', destroy_user_session_path, method: "delete"
            - else
              %button.btn.btn-light= link_to '新規登録', new_user_registration_path
              %button.btn.btn-light= link_to 'ログイン', new_user_session_path
    - if (Rails.env.production?) && (controller.controller_name != 'registrations')
      %script{:async => "", :src => '//accaii.com/orino/script.js'}
      %noscript
        %img{:src => '//accaii.com/orino/script?guid=on'}/
    - if notice.present?
      .alert.alert-dismissable.alert-success
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %p= notice
    - if alert.present?
      .alert.alert-dismissable.alert-danger
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %p= alert
    = yield

    - if (nil != current_user) && (ENV['ADMINISTRATOR_MAIL'] == current_user.email)
      - color='border_color-crimson'
      ='管理者用のページ'
    - else
      - color='border_color-whitesmoke'
    
    %footer{class:"#{color} mt-5"}
      .container-fluid
        .row.m-4
          .mx-3= link_to '利用規約', terms_explanations_path
          .mx-3= link_to 'プライバシーポリシー', policy_explanations_path
          .mx-3= link_to '特定商取引法に基づく表記', transaction_law_explanations_path
        .row.m-3
          .col.text-right
            %p © 2021-2022 イラストライフ株式会社
