!!!
%html
  %head
    / Googleアナリティクス　解析コード
    %script{:async => "", 
      :src => "https://www.googletagmanager.com/gtag/js?id=G-QJ06SMJ2Y5"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-QJ06SMJ2Y5');

    / 文字コード設定
    %meta{:charset => "UTF-8"}/
    / 画面をレスポンシブ対応
    %meta{:content => "width=device-width",:name => "viewport"}/
    / サイト説明
    %meta{:content => "好きな作品の個人製作者に
      リクエストする形で支援するコミッションサイト", :name => "description"}/
    / タイトル
    %title
      = content_for?(:html_title) ? yield(:html_title) : ""
      ｜イラストライフ
      
    / integrity:html検証,crossorigin:ユーザー認証情報anonymous(不要)
    %link{:crossorigin => "anonymous",
      :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css",
      :integrity => "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk",
      :rel => "stylesheet"}/
    
    / payjpスクリプト利用
    %script{src: "https://js.pay.jp/v2/pay.js"}
        
    / googleフォント設定
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com",
      :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Kosugi+Maru&family=Potta+One&family=Yomogi&display=swap",
      :rel => "stylesheet"}/
    
    / JavaScript環境変数設定
    = include_gon
    
    / Railsの組み込み関数stylesheet_link_tag を使って読み込んでいる
    = stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track': 'reload'
      
    / jQuery設定
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    / slickライブラリ利用
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css",
      :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css",
      :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js",
      :type => "text/javascript"}
    
    / クロスサイトリクエストフォージェリー対策
    = csrf_meta_tags
    
    / コンテンツセキュリティポリシーの適用
    = csp_meta_tag
    
    / テスト環境と本番の特定のページ以外は、google検索ページに表示しない
    - if ('test' == ENV['RAILS_ENV']) || (controller.action_name != 'for_client')
      %meta{:content => "noindex", :name => "robots"}/
    
  %body
    %header
      .container-fluid
        .row
          .col-auto.d-flex.align-items-center
            = link_to image_tag('/img/symbol.png', class: 'size_small-square'), root_path
          .col-auto
            %span.font-Xlarge
              %strong イラストライフ
          .col-xs.d-flex.align-items-center
            -if 'homes' == controller.controller_name
              %strong ～ 個人で手軽にイラスト、漫画、アニメ制作 ～
          .col.text-right
            - if user_signed_in?
              - if ('creators' == controller.controller_name) && ('show' == controller.action_name)
                ="#{current_user.creator.creator_points}ポイント"
              = display_icon(current_user.creator, 'size_small-square rounded-circle fit_cover')
        .row
          .col.text-right
            - if user_signed_in?
              - if 'creators' == controller.controller_name
                %button.btn.btn-light.font-medium= link_to 'リクエスト状態', requests_path
                - if 'earning' != controller.action_name
                  %button.btn.btn-light.font-medium= link_to '売上', "/creators/#{current_user.id}/earning"
                - if (ENV['ADMINISTRATOR_MAIL'] == current_user.email) && ('edit' != controller.action_name)
                  %button.btn.btn-light= link_to 'アカウント編集', edit_creator_path(params[:id])
                - elsif 'edit' != controller.action_name
                  %button.btn.btn-light.font-medium= link_to 'ユーザー編集', edit_creator_path(current_user.id)
                %button.btn.btn-light.font-medium= link_to 'ログアウト', destroy_user_session_path, method: "delete"
            - else
              %button.btn.btn-light.font-medium= link_to '新規登録', new_user_registration_path
              %button.btn.btn-light.font-medium= link_to 'ログイン', new_user_session_path
              
    - if Rails.env.production?
      %script{:async => "", :src => '//accaii.com/orino/script.js'}
      %noscript
        %img{:src => '//accaii.com/orino/script?guid=on'}/
    - if notice.present?
      .alert.alert-dismissable.alert-success
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %p= notice
    - if alert.present?
      .alert.alert-dismissable.alert-danger
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %p= alert
    = yield

    - if (nil != current_user) && (ENV['ADMINISTRATOR_MAIL'] == current_user.email)
      - color='background_color-crimson'
      ='管理者用のページ'
    - else
      - color='background_color-whitesmoke'
    
    %footer{class:"#{color} mt-5 size_small-rectangle font-medium"}
      .container
        .row.m-4
          .mx-3= link_to 'イラスト付き利用説明', for_client_explanations_path
        .row.m-4
          .mx-3= link_to '利用規約', terms_explanations_path
          .mx-3= link_to 'プライバシーポリシー', policy_explanations_path
          .mx-3= link_to '特定商取引法に基づく表記', transaction_law_explanations_path
        .row.m-3
          .col.text-right
            %p © 2021-2022 イラストライフ運営局
